@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div ui-view>
        
            <div class="phase1">
            </div>
        
        <div class="container padding-top-60">
            

            <div>
               <button href="#" class="news text">News</button>
            </div>
            <div>
                <button href="#" class="experience text">Experience</button>
</div>
            <div>
               <button href="#" class="tips text">Tips</button>
            </div>
            <div class="blogsearch-box ">
                <input type="text" placeholder="Keyword">
                <button type="submit" class=" text">Search</button>
            </div>


        </div>

        <div class="container padding-top-30">
            <div class="row">
                <div class="col-md-4">
                    <div class="blog-box">

                    </div>
                    <div class="blog-box-below">
                        <p class="text padding-top-20">Title</p>
                        <p class="text1">July 10,2018 / No Comment</p>
                        <p class="text2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus dui dui, interdum ut maximus et, suscipit a tortor.</p>
                        <button data-toggle="modal" data-target=".My-modal">READ MORE</button>
                    </div>

                </div>
                <div class="col-md-4">
                    <div class="blog-box">
                    </div>
                    <div class="blog-box-below">
                        <p class="text padding-top-20">Title</p>
                        <p class="text1">July 10,2018 / No Comment</p>
                        <p class="text2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus dui dui, interdum ut maximus et, suscipit a tortor.</p>
                        <button data-toggle="modal" data-target=".My-modal">READ MORE</button>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="blog-box">
                    </div>
                    <div class="blog-box-below">
                        <p class="text padding-top-20">Title</p>
                        <p class="text1">July 10,2018 / No Comment</p>
                        <p class="text2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus dui dui, interdum ut maximus et, suscipit a tortor.</p>
                        <button data-toggle="modal" data-target=".My-modal">READ MORE</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="container padding-top-60">
            <div class="row">
                <div class="col-md-4">
                    <div class="blog-box">

                    </div>
                    <div class="blog-box-below">
                        <p class="text padding-top-20">Title</p>
                        <p class="text1">July 10,2018 / No Comment</p>
                        <p class="text2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus dui dui, interdum ut maximus et, suscipit a tortor.</p>
                        <button data-toggle="modal" data-target=".My-modal">READ MORE</button>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="blog-box">
                    </div>
                    <div class="blog-box-below">
                        <p class="text padding-top-20">Title</p>
                        <p class="text1">July 10,2018 / No Comment</p>
                        <p class="text2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus dui dui, interdum ut maximus et, suscipit a tortor.</p>
                        <button data-toggle="modal" data-target=".My-modal">READ MORE</button>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="blog-box">
                    </div>
                    <div class="blog-box-below">
                        <p class="text padding-top-20">Title</p>
                        <p class="text1">July 10,2018 / No Comment</p>
                        <p class="text2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus dui dui, interdum ut maximus et, suscipit a tortor.</p>
                        <button data-toggle="modal" data-target=".My-modal">READ MORE</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="container padding-top-60" >
            <div class="row" >
                <div class="col-md-4">
                    <div class="blog-box">
                        
                    </div>
                    <div class="blog-box-below">
                        <p class="text padding-top-20">Title</p>
                        <p class="text1">July 10,2018 / No Comment</p>
                        <p class="text2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus dui dui, interdum ut maximus et, suscipit a tortor.</p>
                        <button data-toggle="modal" data-target=".My-modal">READ MORE</button>
                    </div>

                </div>
               <div class="col-md-4">
                   <div class="blog-box">
                   </div>
                   <div class="blog-box-below">
                       <p class="text padding-top-20">Title</p>
                       <p class="text1">July 10,2018 / No Comment</p>
                       <p class="text2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus dui dui, interdum ut maximus et, suscipit a tortor.</p>
                       <button data-toggle="modal" data-target=".My-modal">READ MORE</button>
                   </div>
               </div>
                <div class="col-md-4">
                    <div class="blog-box">

                    </div>
                    <div class="blog-box-below">
                        <p class="text padding-top-20">Title</p>
                        <p class="text1">July 10,2018 / No Comment</p>
                        <p class="text2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus dui dui, interdum ut maximus et, suscipit a tortor.</p>
                        <button data-toggle="modal" data-target=".My-modal">READ MORE</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="container padding-top-60">
            <div class="row">
                <div class="col-md-4">
                    <div class="blog-box">

                    </div>
                    <div class="blog-box-below">
                        <p class="text padding-top-20">Title</p>
                        <p class="text1">July 10,2018 / No Comment</p>
                        <p class="text2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus dui dui, interdum ut maximus et, suscipit a tortor.</p>
                        <button data-toggle="modal" data-target=".My-modal">READ MORE</button>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="blog-box">
                    </div>
                    <div class="blog-box-below">
                        <p class="text padding-top-20">Title</p>
                        <p class="text1">July 10,2018 / No Comment</p>
                        <p class="text2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus dui dui, interdum ut maximus et, suscipit a tortor.</p>
                        <button data-toggle="modal" data-target=".My-modal">READ MORE</button>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="blog-box">
                    </div>
                    <div class="blog-box-below">
                        <p class="text padding-top-20">Title</p>
                        <p class="text1">July 10,2018 / No Comment</p>
                        <p class="text2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus dui dui, interdum ut maximus et, suscipit a tortor.</p>
                        <button data-toggle="modal" data-target=".My-modal">READ MORE</button>
                    </div>
                </div>
            </div>
        </div>
        <div class=" container padding-top-60">
            <div class="row">
                <div class="col-md-offset-4 col-md-4 final  text-center">
                    <button class="text2">Load more</button>
                </div>
            </div>
        </div>
        <div class="modal fade My-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content text">
                    Nghĩa đẹp trai không sợ ai

                </div>
            </div>
        </div>          

        </div>

    </div>