<!DOCTYPE html>
<html ng-app="propertyplus">
<head>
    <base href="/">
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="/Images/logo.png" />
    <meta name="viewport" content="width=device-width" />
    <link href="/Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=vietnamese" rel="stylesheet">
    <!--Owl Carousel-->
    <link href="/Content/owl.carousel.min.css" rel="stylesheet" />
    <link href="/Content/owl.theme.default.min.css" rel="stylesheet" />
    <link href="/Content/circle.css" rel="stylesheet" />
    <link href="/Content/ng-img-crop.css" rel="stylesheet" />
    <link href="/Content/ui-select.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/Content/rzslider.css">
    <link href="/Content/Custom.css" rel="stylesheet" />
    <link href="/Content/blog.css" rel="stylesheet" />
    <link href="/Content/project.css" rel="stylesheet" />
    <link href="/Content/login.css" rel="stylesheet" />
    <link href="~/Content/manage.css" rel="stylesheet" />
    <link href="/Content/toastr.css" rel="stylesheet" />
    <link href="/Content/homepage.css" rel="stylesheet" />
    <script src="/Scripts/jquery-3.3.1.min.js"></script>
    <script src="/Scripts/owlcarousel/owl.carousel.js"></script>

</head>
<body class="scrollbar" ng-controller="MainCtrl" ng-init="loadData()">
    <button style="z-index: 998;" class="btn btn-scroll-top"><i class="fas fa-chevron-up"></i></button>
    <header class="clearfix" ng-if="!$state.includes('host')">
        <a class="logo-header" ui-sref="home">
            <img src="/Images/logo.svg" alt="Alternate Text" />
        </a>
        <div class="logo-name-header" ng-if="$state.includes('home')">
            <a href="#">Property Plus</a>
        </div>
        <form class="search-box box-shadow" ng-if="!$state.includes('home')" style="position: relative;" ng-submit="submitSearch()">
            <input type="text" class="" ng-model="txtSearch" ng-change="changeSearchTxt(txtSearch)" placeholder="{{'placeholder_search_home'|translate}}"  />
            <button style="position: absolute; right: 3px;" class="btn-search box-shadow" translate="">blog_search</button>
        </form>
        <div class="header-navbar-menu float-right">
            <div class="ensign-header">
                <a href="#">
                    <img src="/Upload/vi.png" ng-click="changeLanguage('vi')">
                </a>
                <a href="#">
                    <img src="/Upload/uk.png" ng-click="changeLanguage('en')">
                </a>
                <a href="#">
                    <img src="/Upload/jp.png" ng-click="changeLanguage('jp')">
                </a>
            </div>
            <div class="header-navbar-menu-nav">
                <a class="text-center" ui-sref="blog" translate="">menu_blog</a>
            </div>
            <div class="header-navbar-menu-nav">
                <a class="text-center" href="#" ng-click="redirectHost()" translate="">menu_host</a>
            </div>
            <div class="header-navbar-menu-nav">
                <a class="text-center" ui-sref="aboutus" translate="">menu_about_us</a>
            </div>
            <div class=" header-navbar-menu-nav">
                <a class="text-center " ui-sref="bookmark" translate>bookmark_text</a>
            </div>
            <div class="header-navbar-menu-nav">
                <a class="text-center" ui-sref="help" translate="">menu_help</a>
            </div>
            <div ng-if="userProfile === undefined" class="header-navbar-menu-nav">
                <a data-toggle="modal" data-target="#myModal-signup" class="text-center" href="#" translate="">menu_signup</a>
            </div>
            <div ng-if="userProfile === undefined" class="header-navbar-menu-nav">
                &nbsp;&nbsp; |&nbsp;&nbsp;
                <a class="text-center" href="#" data-dismiss="modal" id="modalLogin" data-toggle="modal" data-target="#myModal-login" translate="">menu_login</a>
            </div>
            <div ng-if="userProfile !== undefined" class="header-navbar-menu-nav box-user-header-bar">
                <div class=" user-name-head-bar user-head-bar">
                    <a class="text-center" href="#">{{userProfile.FullName}}</a>
                </div>
                <div class="user-head-bar">
                    <img ng-if="userProfile.Avatar" ng-src="{{userProfile.Avatar}}" />
                    <!-- <img ng-if="!userProfile.Avatar" src="Upload/avatar/noavatar.jpg"> -->
                </div>
                <div class="menu-user-header-bar">
                    <a ui-sref="userprofile.general" class="element-user-header-bar" translate="">general</a>
                    <a ui-sref="userprofile.manage" class="element-user-header-bar" translate="">manage</a>
                    <a ui-sref="userprofile.edit" class="element-user-header-bar" translate="">edit_profile</a>
                    <a ui-sref="userprofile.setting" class="element-user-header-bar" translate="">account_setting</a>
                    <a ui-sref="userprofile.refer" class="element-user-header-bar" translate="">refer</a>
                    <a ui-sref="host.dashboard" class="element-user-header-bar" translate="">host_text</a>
                    <a ng-click="logout()" class="element-user-header-bar" translate="">logout</a>
                </div>
            </div>

        </div>
        @* signin popup *@
        <div id="myModal-signup" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content modal-sm">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <button type="button" onclick="login()" class="sign-up-fb" translate="">signupFB</button>

                    <div id="gSignInWrapper" style="width: 378px;height: 82px;">

                        <div id="customBtn" class="customGPlusSignIn">
                            <span class="icon"></span>
                            <span class="buttonText" translate="">signupGG</span>
                        </div>
                    </div>
<script>startApp();</script>

                    <div class="line-or">
                        <p translate class="text-or">or</p>
                    </div>
                    <button translate type="button" data-dismiss="modal" data-toggle="modal" data-target="#myModal-email" class="sign-up-email">signEmail</button>
                    <span translate class="text-acc">haveAccount</span>
                    <button translate type="button" data-dismiss="modal" data-toggle="modal" data-target="#myModal-login" class="sign-up-login">login</button>
                </div>
            </div>
        </div>

        @* email-signin popup *@
        <div id="myModal-email" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content modal-sm">
                    <form ng-submit="register()">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <div style="display: block;text-align: center;    margin-left: 20px;">
                        <span style="display: inline-block;" translate class="text-mail">signupwith</span>
                        <a data-dismiss="modal" data-toggle="modal" data-target="#myModal-signup" style="display: inline-block; cursor: pointer;" class="text-mail-fb-gg">Facebook</a>
                        <p style="display: inline-block;" translate>or</p>
                        <a data-dismiss="modal" data-toggle="modal" data-target="#myModal-signup" style="display: inline-block; cursor: pointer;" class="text-mail-fb-gg" >Google</a>
                    </div>
                        <div class="line-or">
                            <p translate class="text-or">or</p>
                        </div>
                        <input type="text" placeholder="Full name" ng-model="user.FullName" class="mail-submit" required="">
                        <input type="email" pattern="^[a-zA-Z0-9._+-]+@("@")[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$" placeholder="Email Adress" ng-model="user.email" class="mail-submit" required="">
                        <input type="password" placeholder="Create a Password" minlength="6" ng-model="user.password" class="mail-submit" required="">
                        <input type="password" placeholder="Re-type Password" ng-model="user.confirm_password" class="mail-submit" required="">
                        <div class="mail-checkbox">
                            <input style="    position: absolute;" type="checkbox" required="">
                            
                            <div style="    margin-left: 10px;">
                            <span style="display: inline-block;" translate class="text-checkbox">bysignin</span> 
                            <a style="display: inline-block; position: absolute;
    top: 419.5px;
    margin-left: 3px;" translate  class="text-mail-fb-gg" href="#">termofservice</a>
                        </div><br>
                        <div style="margin-left: 95px;
    position: absolute;top: 445px;">
                           <!--  <a style="display: inline-block;" translate  class="text-mail-fb-gg" href="#">privacy</a> -->
                           <a style="display: inline-block;" translate  class="text-mail-fb-gg" href="#">privacys</a>
                             <p style="display: inline-block;" translate>and</p> 
                             <a style="display: inline-block;" translate class="text-mail-fb-gg" href="#">copyright</a>
                        </div>
                         </div>
                        <button type="submit" class="sign-up-email-final" translate="">signupEmail</button>
                        <span translate class="text-acc">haveAccount</span>
                        <button translate type="button" data-dismiss="modal" data-toggle="modal" data-target="#myModal-login" class="sign-up-login">login</button>
                    </form>
                </div>
            </div>
        </div>
        @* login popup *@
        <div id="myModal-login" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <form ng-submit="login()">
                    <div class="modal-content modal-sm">

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <button translate type="button" onclick="login()" class="sign-up-fb">loginFB</button>

                        <div id="gSignInWrapper" style="width: 378px;height: 82px;">

                            <div id="customBtn1" class="customGPlusSignIn">
                                <span class="icon"></span>
                                <span translate class="buttonText">loginGG</span>
                            </div>
                        </div>
                        <script>startApp1();</script>

                        <div class="line-or">
                            <p translate class="text-or">or</p>
                        </div>
                        <span class="text-danger-1">{{errorText}}</span>
                        <input type="email" placeholder="Email Adress" ng-model="user.email" class="mail-submit" required="">
                        <input type="password" placeholder="Password" ng-model="user.password" class="mail-submit" required="">
                        <div class="mail-checkbox">
                            @*<input type="checkbox">
                                <span class="text-checkbox">Remember me</span>*@
                            <a translate href="#" class="text-checkbox-pass">forgotPW</a>
                        </div>

                        <button translate type="submit" class="sign-up-email-final-2">login</button>
                        <span translate class="text-acc">dhaveAccount</span>
                        <button translate type="button" data-dismiss="modal" data-toggle="modal" data-target="#myModal-signup" class="sign-up-login">signup</button>
                    </div>
                </form>

            </div>
        </div>

    </header>
    <div class="body-content">
        @RenderBody()
        
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-2 footer-navbar-menu">
                    <div class="title">Property Plus</div>
                    <div class="footer-navbar-menu-nav">
                        <a ui-sref="aboutus" translate="">menu_about_us</a>
                    </div>
                    <div class="footer-navbar-menu-nav">
                        <a ui-sref="career" translate="">career</a>
                    </div>
                    <div class="footer-navbar-menu-nav">
                        <a href="#" translate="">policy</a>
                    </div>
                    <div class="footer-navbar-menu-nav">
                        <a ui-sref="help" translate="">menu_help</a>
                    </div>
                </div>
                <div class="col-md-2 col-md-offset-4 footer-navbar-menu">
                    <div class="title" translate="">menu_host</div>
                    <div class="footer-navbar-menu-nav">
                        <a href="#" translate="">why_host</a>
                    </div>
                    <div class="footer-navbar-menu-nav">
                        <a href="#" translate="">hosting</a>
                    </div>
                    <div class="footer-navbar-menu-nav">
                        <a href="#" translate="">community</a>
                    </div>
                </div>
                <div class="col-md-2 col-md-offset-2 footer-navbar-menu">
                    <div class="title">
                        <a href="#">
                            <i class="footer-icon fab fa-instagram"></i>
                        </a>
                        <a href="#">
                            <i class="footer-icon fab fa-twitter"></i>
                        </a>
                        <a href="#">
                            <i class="footer-icon fab fa-facebook-f"></i>
                        </a>
                        <a href="#">
                            <i class="footer-icon fas fa-globe-americas"></i>
                        </a>
                    </div>
                    <div class="footer-navbar-menu-nav">
                        <a href="#" translate="">terms</a>
                    </div>
                    <div class="footer-navbar-menu-nav">
                        <a  ui-sref="privacy" translate="">privacy</a>
                    </div>
                    <div class="footer-navbar-menu-nav">
                        <a href="#" translate="">site_map</a>
                    </div>
                </div>
                <hr />
                <div class="col-md-12">
                    <div class="float-left copyright">&copy; PropertyPlus, Inc. 2018</div>
                    <div class="bocongthuong float-left">
                        <img src="Images/dadangky.png" alt="Alternate Text" />
                    </div>
                    <!-- <div class="float-right copyright">Language: ENG</div> -->
                </div>
            </div>
        </div>
    </footer>


    <script src="/Scripts/bootstrap.min.js"></script>
    <script src="/Scripts/angular.min.js"></script>
    <script src="/Scripts/angular-translate.min.js"></script>
    <script src="/Scripts/angular-sanitize.min.js"></script>
    <script src="/Scripts/ocLazyLoad.min.js"></script>
    <script src="/Scripts/angular-ui-router.min.js"></script>
    @*<script src="/Scripts/angular-route.js"></script>*@
    <script src="/Scripts/ui-bootstrap-tpls-1.3.3.min.js"></script>
    <script src="/Scripts/angular-idle.js"></script>
    <script src="/Scripts/base64.js"></script>
    <script src="/Scripts/angular-cookies.min.js"></script>
    <script src="/Scripts/angular-animate.js"></script>
   <!--  <script src="/Scripts/home/ng-img-crop.js"></script> -->
    <script src="/Scripts/home/ui-select.js"></script>
    <script src="/Scripts/home/imageupload.js"></script>
    <script src="/Scripts/ngAutocomplete.js"></script>
    <script type="text/javascript" src="/Scripts/ng-img-crop.js"></script>
    <script type="text/javascript" src="/Scripts/rzslider.min.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCGQPujSkHfQ8a54pF79iCogaRI3lPwETs&libraries=places"></script>
    <meta name="google-signin-client_id" content="276028090064-9fldedqdfnlirf41u3andoekuj8jidi3.apps.googleusercontent.com">

    <script src="https://apis.google.com/js/api:client.js"></script>



    <!--Owl Carousel-->
    <script src="/ckeditor/ckeditor.js"></script>
    <script src="/Scripts/ng-ckeditor.js"></script>

    <script src="/Scripts/home/init.js"></script>
    <script src="/Scripts/Custom.js"></script>
    <script src="/Scripts/home/app.js"></script>
    <script src="/Scripts/home/config.js"></script>
    <script src="/Scripts/home/services.js"></script>
    <script src="/Scripts/home/directives.js"></script>
    <script src="/Scripts/home/translate.js"></script>
    <script src="/Scripts/home/mainctrl.js"></script>
    <script src="/Scripts/home/homectrl.js"></script>
    <script src="/Scripts/home/apartmentctrl.js"></script>
    <script src="/Scripts/home/detailctrl.js"></script>
    <script src="/Scripts/home/blogctrl.js"></script>
    <script src="/Scripts/home/projectctrl.js"></script>
    <script src="/Scripts/home/userprofilectrl.js"></script>
    <script src="/Scripts/home/hostctrl.js"></script>
    <script src="/Scripts/home/careerctrl.js"></script>
    <script type="text/javascript" src="/Scripts/home/hostmanagectrl.js"></script>
    <script type="text/javascript" src="/Scripts/home/bookmarkctrl.js"></script>
    <script src="/Scripts/Chart.bundle.js"></script>
    <script src="/Scripts/chartjs.js"></script>
    <script src="/Scripts/calendar.js"></script>
    <script src="/Scripts/toastr.js"></script>
    <script type="text/javascript">
        window.fbAsyncInit = function () {
            FB.init({
                appId: '348791699266716',
                xfbml: true,
                cookie: true,

                version: 'v2.8'
            });


            FB.getLoginStatus(function (response) {
                if (response.status === 'connected') {
                    document.getElementById('status').innerHTML = 'we are connected';
                } else if (response.status === 'not_authorized') {
                    document.getElementById('status').innerHTML = 'we are not logged in.'
                } else {
                    document.getElementById('status').innerHTML = 'you are not logged in to Facebook';
                }
            });

        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

var profileFacebook = {};
        function login() {
            FB.login(function (response) {
                FB.api('/me', { locale: 'en_US', fields: 'id,name,email,picture,link' },
                    function (result) {
                        profileFacebook = {
                                "Email":result.email,
                                "FullName":result.name,
                                "Avatar":result.picture.data.url,
                        };
                        var scope = angular.element('body[ng-controller="MainCtrl"]').scope();
                        scope.submitFacebook();
                    }
                );
            }, { scope: 'public_profile, email' });
        };




        var googleUser = {};
        var profileGoogle = {};
        var startApp = function() {
            gapi.load('auth2', function () {
                // Retrieve the singleton for the GoogleAuth library and set up the client.
                auth2 = gapi.auth2.init({
                    client_id: '276028090064-9fldedqdfnlirf41u3andoekuj8jidi3.apps.googleusercontent.com',
                    cookiepolicy: 'single_host_origin',
                    // Request scopes in addition to 'profile' and 'email'
                    //scope: 'additional_scope'

                });
                attachSignin(document.getElementById('customBtn'));
            });

        };

        var startApp1 = function() {
            gapi.load('auth2', function () {
                // Retrieve the singleton for the GoogleAuth library and set up the client.
                auth2 = gapi.auth2.init({
                    client_id: '276028090064-9fldedqdfnlirf41u3andoekuj8jidi3.apps.googleusercontent.com',
                    cookiepolicy: 'single_host_origin',
                    // Request scopes in addition to 'profile' and 'email'
                    //scope: 'additional_scope'

                });
                attachSignin(document.getElementById('customBtn1'));
            });
        };


        function attachSignin(element) {
            auth2.attachClickHandler(element, {},
                function (googleUser) {

                    if (auth2.isSignedIn.get()) {
                        var profile = auth2.currentUser.get().getBasicProfile();
                        profileGoogle = {
                                "Email":profile.getEmail(),
                                "FullName":profile.getName(),
                                "Avatar":profile.getImageUrl()
                        };
                        // console.log('Full Name: ' + profile.getName());
                        // console.log('Image URL: ' + profile.getImageUrl());
                        // console.log('Email: ' + profile.getEmail());
                        var scope = angular.element('body[ng-controller="MainCtrl"]').scope();
                        scope.submitGoogle();
                    }
                }, 
                function (error) {
                    // alert(JSON.stringify(error, undefined, 2));

                }
                );
        }
    </script>

</body>
</html>