<div class="box-technology"></div>
<div class="content-aboutus">
	<div class="container">
        <ul class="tabs">
            <li class="tab-link current" data-tab="tab-1" translate="">ab_general</li>
            <li class="tab-link" data-tab="tab-2" translate="">ab_organization</li>
            <li class="tab-link" data-tab="tab-3" translate="">ab_company</li>
        </ul></div>
<div id="tab-1" class="tab-content current">
<div class="container">
       <div class="row">
       	<div class="col-md-4">
       		<div class="menu">
       		<a href="#history" class="ab-text-20" translate>ab_history</a><br>
       		<a href="#vision" class="ab-text-20" translate>ab_vision</a><br>
       		<a href="#core" class="ab-text-20" translate>ab_core</a><br>
       		<a href="#development" class="ab-text-20" translate>ab_development</a>
			</div>
		</div>
		<div class="col-md-8">
			<p id="history" class="ab-text-20" translate>ab_history</p>
			<p class="ab-text-20-1" style="margin-bottom: 130px;" translate>ab_taking</p>
			<div class="line-aboutus-1"></div>
			<p id="vision" class="ab-text-20" translate>ab_vis</p>
			<p class="ab-text-20-1" style="margin-bottom: 40px;" translate>ab_market</p>
			<p id="history" class="ab-text-20" translate>ab_mission</p>
			<p class="ab-text-20-1" style="margin-bottom: 40px;" translate>ab_concerned</p>
			<div class="line-aboutus-1"></div>
			<p id="core" class="ab-text-20" translate>ab_cor</p>
			<p class="ab-text-20-1" style="margin-bottom: 70px;" translate>ab_isalways</p>
			<p class="ab-text-20-1" style="margin-left: 15px;margin-bottom: 40px;" translate>ab_creativity</p>
			<p class="ab-text-20-1" style="margin-left: 15px;margin-bottom: 40px;" translate>ab_commit</p>
			<p class="ab-text-20-1" style="margin-left: 15px;margin-bottom: 40px;" translate>ab_orientation</p>
			<p class="ab-text-20-1" style="margin-left: 15px;margin-bottom: 40px;" translate>ab_conscientious</p>
			<p class="ab-text-20-1" style="margin-left: 15px;margin-bottom: 80px;" translate>ab_cooperation</p>
			<div class="line-aboutus-1"></div>
			<p id="development" class="ab-text-20" translate>ab_development</p>
			<p class="ab-text-20-1" style="margin-bottom: 100px;" translate>ab_minh</p>
		</div>


</div>
       </div>

    </div>
        <div id="tab-2" class="tab-content">
        	<div class="container">
        	<img class="aboutus-img" ng-if="currentLanguage == 'en'" src="Images/tienganh.PNG">
        	<img class="aboutus-img" ng-if="currentLanguage == 'jp'" src="Images/tiengnhat.PNG">
        	<img class="aboutus-img" ng-if="currentLanguage == 'vi'" src="Images/tiengviet.PNG">
        </div>
            
            	<div class="box-tab">
            		<p style=" font-size: 30px; color:#fff;display: block;text-align: center;padding-top:20px;" translate>ab_team</p>
            		<div class="container">
            			<div class="row">
            				<div class="col-md-5">
            					<div class="circle-second"></div>
            					<div class="box-second text-box-second">
            						<p style="color: #44517D;">PHAM VAN LOI</p>
            						<p style="color: #44517D;" translate>ab_ceo</p>
            					</div>
            				</div>
            				<div class="col-md-offset-2 col-md-5">
            					<div class="circle-second"></div>
            					<div class="box-second text-box-second">
            						<p style="color: #44517D;">TRAN THI HOA</p>
            					</div>
            				</div>

            			</div>
            		</div>
            	</div>
            	<div style="margin-bottom: 900px;">
            			<p style="color: #444;" class="ab-staff" translate>ab_staff</p>
            		</div>

          
        </div>
        <div id="tab-3" class="tab-content">
<div class="container">
        	<div class="row">
        	<div class="col-md-4">
       		<div class="menu">
       		<a href="#business" class="ab-text-20" translate>abu_business</a><br>
       		<a href="#tenants" class="ab-text-20" translate>abu_tenants</a><br>
       		<a href="#landlord" class="ab-text-20" translate>abu_landlord</a><br>
			</div>
		</div>
		<div class="col-md-8">
			<p id="business" class="ab-text-20" translate>abu_business</p>
			<p class="ab-text-20-1" translate>abu_property</p>
			<p class="ab-text-20-1" style="margin-bottom: 30px;" translate>abu_friendly</p>
			<div>
			<img class="black-box" ng-if="currentLanguage == 'en'" src="Images/company_model_en.jpg">
        	<img class="black-box" ng-if="currentLanguage == 'jp'" src="Images/company_model_jp.jpg">
        	<img class="black-box" ng-if="currentLanguage == 'vi'" src="Images/company_model_vi.jpg">
			</div>
			<div class="line-aboutus-1"></div>
			<p id="tenants" class="ab-text-20" translate>abu_butle</p>
			<p class="ab-text-20-1" translate>abu_large</p>
			<p class="ab-text-20-1" translate>abu_reception</p>
			<p class="ab-text-20-1" translate>abu_good</p>
			<p class="ab-text-20-1" translate>abu_star</p>
			<p class="ab-text-20-1" translate>abu_periodic</p>
			<p class="ab-text-20-1" translate>abu_procedural</p>
			<p class="ab-text-20-1" translate>abu_security</p>
			<p class="ab-text-20-1" translate>abu_discover</p>
			<p class="ab-text-20-1" translate>abu_large</p>
			<p class="ab-text-20-1" translate>abu_reception</p>
			<p class="ab-text-20-1" translate>abu_good</p>
			<p class="ab-text-20-1" translate>abu_star</p>
			<p class="ab-text-20-1" translate>abu_periodic</p>
			<p class="ab-text-20-1" translate>abu_procedural</p>
			<p class="ab-text-20-1" translate>abu_security</p>
			<p class="ab-text-20-1" style="margin-bottom: 200px;" translate>abu_discover</p>
			<div class="line-aboutus-1"></div>
			<p id="landlord" class="ab-text-20" translate>abu_house</p>
			<p class="ab-text-20-1" translate>abu_pp</p>
			<p class="ab-text-20-1" translate>abu_thatwill</p>
			<p class="ab-text-20-1" translate>abu_time</p>
			<p class="ab-text-20-1" translate>abu_financy</p>
			<p class="ab-text-20-1" translate>abu_dedicated</p>
			<p class="ab-text-20-1" translate>abu_marketing</p>
			<p class="ab-text-20-1" translate>abu_optimizing</p>
			<p class="ab-text-20-1" translate>abu_procedural</p>
			<p class="ab-text-20-1" translate>abu_standard</p>
			<p class="ab-text-20-1" translate>abu_periodic</p>
			<p class="ab-text-20-1" translate>abu_free</p>
			<p class="ab-text-20-1" translate>abu_security</p>
			<p class="ab-text-20-1" style="margin-bottom: 100px;" translate>abu_parties</p>


			








			


</div>
		</div>
	</div>
     </div>
    
    </div>
<div class="line-aboutus"></div>



    <script>
    $(document).ready(function(){
	
        $('ul.tabs li').click(function(){
            var tab_id = $(this).attr('data-tab');

            $('ul.tabs li').removeClass('current');
            $('.tab-content').removeClass('current');

            $(this).addClass('current');
            $("#"+tab_id).addClass('current');
        });

      $(window).bind("scroll", function(e) {
        var top = $(window).scrollTop();
      if (top> 590) { //Khoảng cách đã đo được
        $(".menu").addClass("fix-menu");
      } else {
        $(".menu").removeClass("fix-menu");
      } 
    });


})
</script>






