<div ng-controller="ApartmentCtrl" ng-init="loadApartment()">
    <div class="container-fluid second-header">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 ">
                    <div class="list-btn-second-header">
                        <div class="list-btn-facilities">
                            <div class="group-btn-facility">
                                <button class="box-shadow btn-facilities has-filter" target-filter="#price-filter"><span translate>search_bar_price </span><i class="fas fa-chevron-right"></i>
                                </button>
                                <div class="card-filter" id="price-filter">
                                    <span class="inline" style="color: #464878;">Price Range</span>
                                    <div class="block-rzslider">
                                        <rzslider
                                          data-rz-slider-model="priceSlider.minValue"
                                          data-rz-slider-high="priceSlider.maxValue"
                                          data-rz-slider-options="priceSlider.options"
                                        ></rzslider>
                                        <div class="min-bubble">$ {{priceSlider.minValue}}</div>
                                        <div class="max-bubble">$ {{priceSlider.maxValue}}</div>
                                    </div>
                                    <button ng-click="loadApartment()" class="btn-apply">Apply</button>
                                </div>

                            </div>
                            <div class="group-btn-facility">
                                <button class="box-shadow btn-facilities has-filter" target-filter="#room-filter"><span translate>search_bar_room </span><i class="fas fa-chevron-right"></i>
                                </button>
                                <div class="card-filter" id="room-filter">
                                    <span class="inline" style="color: #464878;">Rooms</span>
                                    <div class="bedrooms-line">
                                        <i class="fas fa-bed float-left"></i><span style="margin-left: 20px" class="float-left">Bedrooms</span>
                                        <div class="float-right group-btn-service">
                                            <button class="minus" ng-click="bedroom = bedroom - 1" ng-disabled="bedroom == 0">-</button>
                                            <button class="plus" ng-click="bedroom = bedroom + 1" ng-disabled="bedroom == 6">+</button>
                                        </div>
                                        <span class="float-right quantity">{{bedroom}}</span>
                                    </div>
                                    <div class="bedrooms-line">
                                        <i class="fas fa-bath float-left"></i><span style="margin-left: 20px" class="float-left">Bathrooms</span>
                                        <div class="float-right group-btn-service">
                                            <button class="minus" ng-click="bathroom = bathroom - 1" ng-disabled="bathroom == 0">-</button>
                                            <button class="plus" ng-click="bathroom = bathroom + 1" ng-disabled="bathroom == 6">+</button>
                                        </div>
                                        <span class="float-right quantity">{{bathroom}}</span>
                                    </div>
                                    <button ng-click="loadApartment()" class="btn-apply">Apply</button>
                                </div>
                            </div>
                            <div class="group-btn-facility">
                                <button class="box-shadow btn-facilities has-filter" target-filter="#area-filter"><span translate>search_bar_area </span><i class="fas fa-chevron-right"></i>
                                </button>
                                <div class="card-filter" id="area-filter">
                                    <span class="inline" style="color: #464878;">Area</span>
                                    <div class="block-rzslider">
                                        <rzslider
                                          data-rz-slider-model="areaSlider.minValue"
                                          data-rz-slider-high="areaSlider.maxValue"
                                          data-rz-slider-options="areaSlider.options"
                                        ></rzslider>
                                        <div class="min-bubble">{{areaSlider.minValue}} m<sup>2</sup></div>
                                        <div class="max-bubble">{{areaSlider.maxValue}} m<sup>2</sup></div>
                                    </div>
                                    <button ng-click="loadApartment()" class="btn-apply">Apply</button>
                                </div>
                            </div>
                            <div class="group-btn-facility">
                                <button class="box-shadow btn-facilities has-filter" target-filter="#facility-filter"><span translate>search_bar_facilities </span><i class="fas fa-chevron-right"></i>
                                </button>
                                <div class="card-filter" id="facility-filter">
                                    <span class="inline" style="color: #464878;">Facilities</span>
                                    <div class="list-facility-filter">
                                        <div ng-repeat="facility in listFacility track by $index" class="facility-line">
                                            <label class="material-checkbox">
                                                <input type="checkbox" ng-model="facility.Status">
                                                <span></span>
                                            </label>
                                            <span>{{facility.Content.Name}}</span>
                                        </div>
                                    </div>
                                    <button ng-click="clearFacility()" class="btn-clear">Clear</button>
                                    <button ng-click="loadApartment()" class="btn-apply">Apply</button>
                                </div>

                            </div>
                            
                            
                        </div>
                    </div>
                    <div class="switch-show-map">
                        <label class="title-switch-show-map">Show map</label>
                        <label class="switch">
                            <input name="switch" type="checkbox">
                            <span class="slider round box-shadow" checked></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container list-apartment">
        <div class="row">
            <div class="col-xs-12 sort-list-apartment">
                <!--<div class="label">
                    SORT:
                </div>
                <div class="select">
                    <select class="sort-select" id="sort">
                        <option>Recently added</option>
                        <option>1 month ago</option>
                    </select>
                    <div class="caret-select">
                        <i class="fas fa-chevron-down"></i>
                    </div>
                </div>-->
                <div class="label">
                    VIEW:
                </div>
                <div id="radio-grid">
                    <button class="btn-radio-grid active grid"><i style="color: #8D8D8D" class="fas fa-th-large"></i></button>
                    <button class="btn-radio-grid column"><i style="color: #8D8D8D" class="fas fa-bars"></i></button>
                </div>
            </div>
            <div class="col-xs-12 list-apartment-content">
                <div class="row">
                    <div class="col-sm-6 col-lg-3 thumbnail-choose-home" ng-repeat="apartment in apartmentList">
                        <div class="slide-choose-home" >
                            <a ui-sref="apartmentdetail({id: apartment.Id,name: replaceString(apartment.Name)})"><img ng-src="{{apartment.ImgList[0].Img}}" class="img-full" alt="Alternate Text" /></a>
                        </div>
                        <div class="choose-home-summary-column clearfix col-md-7 display-none">
                            <div class="sumary-detail">
                                <a  ui-sref="apartmentdetail({id: apartment.Id,name: replaceString(apartment.Name)})" class="apartment-code">
                                    {{apartment.Code}}
                                </a>
                                <a ui-sref="apartmentdetail({id: apartment.Id,name: replaceString(apartment.Name)})" class="apartment-name">
                                    {{apartment.Name | limitTo : 85}}{{apartment.Name.length > 85 ? '...' : ''}}
                                </a>
                                <div class="apartment-address">
                                    {{apartment.Address}}
                                </div>
                                <div class="apartment-facilities">
                                    <div class="apartment-facility">
                                        <img src="/Images/icon/apartment.png" alt="">
                                        <p>Apartment</p>
                                    </div>
                                    <div class="apartment-facility">
                                        <img src="/Images/icon/bedroom.png" alt="">
                                        <p>{{apartment.NoBedRoom}} Bedrooms</p>
                                    </div>
                                    <div class="apartment-facility">
                                        <img src="/Images/icon/bathroom.png" alt="">
                                        <p>{{apartment.NoBathRoom}} Bathrooms</p>
                                    </div>
                                    <div class="apartment-facility">
                                        <img src="/Images/icon/area.png" alt="">
                                        <p>{{apartment.Area}} m<sup>2</sup></p>
                                    </div>
                                </div>
                                <div class="apartment-description" ng-bind-html="(apartment.Description | limitTo : 170) + '...'">
                                </div>
                                <div class="apartment-price">
                                    <span class="price-label">Estimate price :</span>
                                    <span>$ {{apartment.Price}} / month <span class="tiny-text">or</span> {{(apartment.Price/30).toFixed(2)}} $/ night</span>
                                </div>
                            </div>
                            <div class="apartment-owner">
                                <p>Owner</p>
                                <img class="box-shadow" style="width: 49.12px;height: 49.12px;border-radius:50%;border:1px solid #707070;" ng-src="/Upload/avatar/{{apartment.UserProfileOwner.Avatar}}" alt="">
                                <p class="owner-name">{{apartment.UserProfileOwner.FullName}}</p>
                            </div>
                            <div class="apartment-interacts">
                                <div class="apartment-interact">
                                    <p><i class="fas fa-share"></i></p>
                                    <p>Share</p>
                                </div>
                                <div class="apartment-interact">
                                    <p><i class="fas fa-heart"></i></p>
                                    <p>Add to list</p>
                                </div>
                                <div class="apartment-interact">
                                    <p><i class="fas fa-bookmark" ng-click="saveToBookmark(apartment)"></i></p>
                                    <p>Bookmark</p>
                                </div>
                            </div>
                        </div>
                        <div class="choose-home-summary">
                            <a ui-sref="apartmentdetail({id: apartment.Id,name: replaceString(apartment.Name)})" class="choose-home-code">
                                {{apartment.Code}}
                            </a>
                            <a ui-sref="apartmentdetail({id: apartment.Id,name: replaceString(apartment.Name)})" class="choose-home-name">
                                {{apartment.Name | limitTo : 28}}{{apartment.Name.length > 28 ? '...' : ''}}
                            </a>
                            <div class="choose-home-detail float-left">
                                <p>Bedrooms: {{apartment.NoBedRoom}}</p>
                                <p> {{apartment.City}}</p>
                            </div>
                            <div class="choose-home-price float-right">
                                <span class="text-price-title">Estimate Price:</span>
                                <p class="price">$ <span>{{apartment.Price}}</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="pagination-apartment">
                            <ul uib-pagination total-items="totalItems" rotate="false" ng-model="bigCurrentPage" items-per-page="8" max-size="4" class="pagination-sm" ng-change="loadApartment()"></ul>
                        </div>
                    </div>
                    <div class="col-xs-6 col-xs-offset-3 slide-paragraph">
                        <p>Slide paragraph: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cura bitur tincidunt, est vel gravida euismod, sapien diam consequat turpis, blandit aliquet dolor ipsum ac quam.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12 google-map hide-block">
                <div id="map"></div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
       
        function CreateCarousel(){
            $('.owl-carousel').owlCarousel({
                margin: 10,
                autoplay: true,
                autoplayTimeout: 2500,
                autoplayHoverPause: true,
                loop: true,
                items: 1,
                nav: true,
                animateOut: 'fadeOut'
            });
        }
        CreateCarousel();
        
        
        $('input[name="switch"]').click(function () {
            $('.google-map').toggleClass('hide-block');
            document.getElementsByClassName("btn-radio-grid")[0].click();
            $('.thumbnail-choose-home').toggleClass('col-lg-3');
            $('.list-apartment-content').toggleClass('col-md-6');
            $('.sort-list-apartment').toggleClass('hide-block');
            $('.slide-paragraph').toggleClass('col-xs-6');
            $('.slide-paragraph').toggleClass('col-xs-12');
            $('.slide-paragraph').toggleClass('col-xs-offset-3');

        });
        $('#radio-grid').on('click', '.btn-radio-grid', function () {

            if ($(this).hasClass('grid')) {
                $('.owl-carousel')
                if (!$(this).hasClass('active')){
                    $(this).addClass('active');
                    $('.thumbnail-choose-home').toggleClass('col-lg-3');
                    $('.thumbnail-choose-home').toggleClass('col-sm-6');
                    $('.thumbnail-choose-home').toggleClass('thumbnail-choose-home-column');
                    $('.slide-choose-home').removeClass('col-md-5');
                    $('.choose-home-summary').removeClass('display-none');
                    $('.choose-home-summary-column').addClass('display-none');
                    $('.item .choose-home-item').removeClass('height-grid');
                    $('.owl-carousel').trigger('refresh.owl.carousel');
                   
                }
                $(this).next().removeClass('active');

            } else if ($(this).hasClass('column')) {
                CreateCarousel();
                $(this).prev().removeClass('active');
                if (!$(this).hasClass('active')){
                    $('.thumbnail-choose-home').toggleClass('col-lg-3');
                    $('.thumbnail-choose-home').toggleClass('col-sm-6');
                    $('.thumbnail-choose-home').toggleClass('thumbnail-choose-home-column');
                    $('.slide-choose-home').addClass('col-md-5');
                    $('.choose-home-summary-column').removeClass('display-none');
                    $('.choose-home-summary').addClass('display-none');
                    $('.item .choose-home-item').addClass('height-grid');
                    $(this).addClass('active');
                    $('.owl-carousel').trigger('refresh.owl.carousel');
                }
            }
        });
        // var header = document.getElementById("radio-grid");
        // var btns = header.getElementsByClassName("btn-radio-grid");
        // for (var i = 0; i < btns.length; i++) {
        //     btns[i].addEventListener("click", function() {
        //         var current = document.getElementsByClassName("active");
        //         current[0].className = current[0].className.replace(" active", "");
        //         this.className += " active";
        //     });
        // }
    });

</script>