<div ng-controller="ApartmentCtrl" ng-init="loadApartmentDetail()">
<div class="container-fluid header-apartment-detail">
    <img ng-src="/Upload/apartment/{{apartment.banner}}" alt="Alternate Text" />
</div>
<div class="container">
<div class="row apartment-detail-body">
<div class="col-md-7">
    <div class="sm-text">{{apartment.Code}}</div>
    <div class="title-detail-apartment">
        {{apartment.Name}}
    </div>
    <div class="address-detail-apartment">
        {{apartment.Address}}
    </div>
    <div class="facilities-detail-apartment">
        <div class="facility-detail-apartment">
            <img src="/Images/icon/apartment.png" class="thumbnail-facility" alt="Alternate Text"/>
            <p class="text-center facility-text">Apartment</p>
        </div>
        <div class="facility-detail-apartment">
            <img src="/Images/icon/bedroom.png" class="thumbnail-facility" alt="Alternate Text"/>
            <p class="text-center facility-text">{{apartment.NoBedRoom}} Bedrooms</p>
        </div>
        <div class="facility-detail-apartment">
            <img src="/Images/icon/bathroom.png" class="thumbnail-facility" alt="Alternate Text"/>
            <p class="text-center facility-text">{{apartment.NoBathRoom}} Bathrooms</p>
        </div>
        <div class="facility-detail-apartment">
            <img src="/Images/icon/area.png" class="thumbnail-facility" alt="Alternate Text"/>
            <p class="text-center facility-text">{{apartment.Area}} m<sup>2</sup></p>
        </div>

    </div>
    <div class="about-this-listing">
        <div class="title-apartment-detail">ABOUT THIS LISTING</div>
        <div class="about-this-listing-none-border" ng-bind-html="apartment.Description | trust">
        </div>
    </div>
    <div class="tour-this-home">
        <div class="title-apartment-detail">TOUR THIS HOME</div>
        <div class="col-xs-12 tour-this-home-slide" >
            <div class="owl-carousel owl-theme">
                <div class="item" ng-repeat="livRoom in apartment.ImgList">
                    <div class="">
                        <img ng-src="/Upload/apartment/{{livRoom.Img}}" alt="Alternate Text" />
                    </div>
                </div>
            </div>
            <div class="title-tour-this-home">
                Living room
            </div>
        </div>
        <div class="col-xs-12 tour-this-home-slide">
            <div class="owl-carousel owl-theme">
                <div class="item" ng-repeat="bedRoom in apartment.ImgList" ng-if="bedRoom.Type == 3">
                    <div class="">
                        <img ng-src="/Upload/apartment/{{bedRoom.Img}}" alt="Alternate Text" />
                    </div>
                </div>
            </div>
            <div class="title-tour-this-home">
                Bedroom
            </div>
        </div>
        <div class="col-xs-12 tour-this-home-slide">
            <div class="owl-carousel owl-theme">
                <div class="item" ng-repeat="bathRoom in apartment.ImgList" ng-if="bathRoom.Type == 4">
                    <div class="">
                        <img ng-src="/Upload/apartment/{{bathRoom.Img}}" alt="Alternate Text" />
                    </div>
                </div>
            </div>
            <div class="title-tour-this-home">
                Bathroom
            </div>
        </div>
        <div class="col-xs-12 tour-this-home-slide">
            <div class="owl-carousel owl-theme">
                <div class="item" ng-repeat="bedRoom in apartment.ImgList" ng-if="bedRoom.Type == 3">
                    <div class="">
                        <img ng-src="/Upload/apartment/{{bedRoom.Img}}" alt="Alternate Text" />
                    </div>
                </div>
            </div>
            <div class="title-tour-this-home">
                Other
            </div>
        </div>
    </div>
    <div class="amenities">
        <div class="title-apartment-detail">AMENITIES </div>
        <img src="/Images/icon/atm.svg" class="amenities-img" alt="Alternate Text" />
        <img src="/Images/icon/bar.svg" class="amenities-img" alt="Alternate Text" />
        <img src="/Images/icon/camera.svg" class="amenities-img" alt="Alternate Text" />
        <img src="/Images/icon/cinema.svg" class="amenities-img" alt="Alternate Text" />
        <img src="/Images/icon/coffe.svg" class="amenities-img" alt="Alternate Text" />
        <img src="/Images/icon/hospital.svg" class="amenities-img" alt="Alternate Text" />
        <img src="/Images/icon/eleve.svg" class="amenities-img" alt="Alternate Text" />
        <img src="/Images/icon/indoor game.svg" class="amenities-img" alt="Alternate Text" />
        <img src="/Images/icon/lounge.svg" class="amenities-img" alt="Alternate Text" />
        <img src="/Images/icon/mall.svg" class="amenities-img" alt="Alternate Text" />
    </div>
    <div class="apartment-detail-owner" style="    margin-top: 30px;">
        <div class="title-apartment-detail">Owner</div>
            <div class="avatar-owner">
                <img ng-src="/Upload/avatar/{{apartment.UserProfileOwner.Avatar}}" alt="Alternate Text"/>
            </div>
            <div class=" time-join">
                Join in October 2018
            </div>
            <div class=" owner-name">
                {{apartment.UserProfileOwner.FirstName}} {{apartment.UserProfileOwner.LastName}}
            </div>
        
    </div>
    <div class="apartment-detail-map">
        <div id="map"></div>
    </div>
</div>
<div class="col-md-5 apartment-detail-service" ng-click="changeService()">
    <div class="header-service">
        <p class="label-service">
            Estimate price included service:
        </p>
        <span class="price-service-left float-left med-text">{{perNightPrice}} $ / per night</span>
        <span class="price-service-right float-right med-text">$ {{totalPrice}} / per month</span>
    </div>
    <div class="body-service">
        <div class="line-service small-line">
            <span class="net-price-label float-left med-text">Apartment net price</span>
            <span class="net-price-value float-right med-text">$ {{apartmentPrice}} / month</span>
        </div>
        <div class="line-service small-line">
            <span class="total-price-label float-left med-text">Service total price:</span>
            <span class="total-price-value float-right med-text">$ {{servicePrice}} / month</span>
        </div>
        <div class="line-service small-line">
            <span class="float-left sm-text">Service package:</span>
            <span class="float-right" style="margin-right: 81px">Custom</span>
            <span class="float-right" style="margin-right: 48px">Basic</span>
        </div>
        <div class="line-service small-line">
            <div class="float-left" style="width: 117px;display: inline-block;height:20px"></div>
            <input class="float-right" style="margin-bottom: 20px; margin-right: 98px" id="radioCustom" ng-click="radioService()" type="radio" name="a" />
            <input class="float-right  " style="margin-bottom: 20px; margin-right: 40px" id="radioBasic" ng-click="radioService()" type="radio" name="a" checked/>

        </div>
        <div class="line-service bg-gray service-basic">
            <p class="inline float-left">Management fee by PP</p>
            <span class="checkbox-service float-right">
                <label class="material-checkbox">
                    <input type="checkbox" id="checkboxFee" checked>
                    <span></span>
                </label>
            </span>
            
        </div>
        <div class="line-service" ng-class="basic">
            <p class="inline float-left">Internet / wifi</p>
            <span class="checkbox-service float-right">
                <label class="material-checkbox">
                    <input type="checkbox" id="checkboxInternet" checked>
                    <span></span>
                </label>
            </span>
        </div>
        <div class="line-service bg-gray foreign-tv-box"  ng-class="basic">
            <p style="margin-top: 10px;" class="inline float-left">Foreign TV  </p>
            <ui-select ng-model="foreignTv.selected" theme="selectize" search-enabled="false" ng-disabled="disabled" class="select-foreign-tv " title="Choose a foreign TV">
                <ui-select-match placeholder="Select foreign TV">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="foreignTv in foreignTvs">
                    <span ng-bind-html="foreignTv.name "></span>
                </ui-select-choices>
            </ui-select>
            <!-- <select class="select-foreign-tv float-right" id="foreign-tv"> -->
            <!--     <option value="0">None</option> -->
            <!--     <option value="25">Japanese TV PP1 Package</option> -->
            <!--     <option value="35">Japanese TV PP2 Package</option> -->
            <!--     <option value="50">Japanese TV PP3 Package</option> -->
            <!--     <option value="35">Japanese TV BB max 1</option> -->
            <!--     <option value="50">Japanese TV BB max 2</option> -->
            <!--     <option value="70">Japanese TV BB max 3</option> -->
            <!--     <option value="40">Korean TV</option> -->
            <!--     <option value="10">Vietnamese K+ TV</option> -->
            <!--     <option value="10">An Vien TV</option> -->
            <!-- </select> -->
        </div>
        <div class="line-service" ng-class="basic">
            <p class="inline float-left">Laundry & Cleaning  </p>
            <div class="float-right group-btn-service">
                <button class="minus" ng-click="cleaning = cleaning - 1" ng-disabled="cleaning == 1">-</button>
                <button class="plus" ng-click="cleaning = cleaning + 1" ng-disabled="cleaning == 6">+</button>
            </div>
            <span class="float-right quantity-service">{{cleaning}}</span>
        </div>
        <div class="line-service bg-gray"  ng-class="basic">
            <p class="inline float-left">Drinking water</p>
            <div class="float-right group-btn-service">
                <button class="minus" ng-click="bottle = bottle - 1" ng-disabled="bottle == 1">-</button>
                <button class="plus" ng-click="bottle = bottle + 1" ng-disabled="bottle == 6">+</button>
            </div>
            <span class="float-right quantity-service">{{bottle}}</span>
        </div>
        <div class="line-service" ng-class="basic">
            <p class="inline float-left">Detergent, toilet paper</p>
            <span class="checkbox-service float-right">
                <label class="material-checkbox">
                    <input type="checkbox" id="checkboxToilet" checked>
                    <span></span>
                </label>
            </span>
        </div>

        <div class="line-service bg-gray" ng-class="basic" ng-click="changeService()">
            <p class="float-left sm-text">Electric & water  bill</p>
            <div class="electric-bill-block float-right">
                <span>$ </span><input type="text" ng-change="changeBill();changeService()" ng-model="electricBill" class="electric-bill-input" name="electric-bill" />
            </div>
            
        </div>


        <div class="line-service" ng-class="basic">
            <p class="inline float-left">Include tax</p>
            <span class="checkbox-service float-right">
                <label class="material-checkbox">
                    <input type="checkbox" id="checkboxExtra">
                    <span></span>
                </label>
            </span>
        </div>
        <div class="col-xs-12 apartment-service-box">
            <div class="float-left apartment-interact">
                <i style="margin-right: 10px" class="fas fa-share"></i>
                <i style="margin-right: 10px" class="fas fa-heart"></i>
                <i class="fas fa-bookmark"></i>
            </div>
            <button class="float-right btn-service box-shadow">SEND VISITING REQUEST</button>
        </div>
    </div>
</div>
<div class="col-xs-12 similar-listing">
    <div class="title-apartment-detail">SIMILIAR LISTING</div>
    <div class="slide-similar owl-carousel owl-theme">
        <div class="item" ng-repeat="item in apartmentList">
            <div class="thumbnail-choose-home">
                <a ui-sref="apartmentdetail({id: item.Id,name: replaceString(item.Name)})" class="aparment-banner">
                    <img ng-src="Upload/apartment/{{item.ImgList[0].Img}}" alt="Alternate Text" />
                </a>
                <div class="choose-home-summary">
                    <a ui-sref="apartmentdetail({id: item.Id,name: replaceString(item.Name)})" class="choose-home-code">
                        {{item.Code}}
                    </a>
                    <a ui-sref="apartmentdetail({id: item.Id,name: replaceString(item.Name)})" class="choose-home-name">
                        {{item.Name}}
                    </a>
                    <div class="choose-home-detail float-left">
                        <p>Bedrooms: {{item.NoBedRoom}}</p>
                        <p>{{item.City}}</p>
                    </div>
                    <div class="choose-home-price float-right">
                        <span class="text-price-title">Estimate Price:</span>
                        <p class="price">$ <span>{{item.Price}}</span></p>
                    </div>
                </div>
            </div>
        </div>
        
        
    </div>
</div>
</div>
</div>
</div>