<div ng-controller="ApartmentCtrl" ng-init="loadApartmentDetail()">
<div class="container-fluid header-apartment-detail">
    <div class="owl-carousel owl-theme">
        <div class="item">
            <div class="">
                <img src="Images/img-demo.png" alt="Alternate Text" />
            </div>
        </div>
        <div class="item">
            <div class="">
                <img src="Images/img-demo.png" alt="Alternate Text" />
            </div>
        </div>
        <div class="item">
            <div class="">
                <img src="Images/img-demo.png" alt="Alternate Text" />
            </div>
        </div>
    </div>
</div>
<div class="container">
<div class="row apartment-detail-body">
<div class="col-md-7">
    <div class="sm-text">Property Type - Project</div>
    <div class="title-detail-apartment">
        Apartment Elegant Design Funish Suitable for 5 people family
    </div>
    <div class="address-detail-apartment">
        Thanh Xuan District, Ha Noi
    </div>
    <div class="facilities-detail-apartment">
        <div class="facility-detail-apartment">
            <img src="Images/img-demo.png" class="thumbnail-facility" alt="Alternate Text"/>
            <p class="text-center facility-text">Apartment</p>
        </div>
        <div class="facility-detail-apartment">
            <img src="Images/img-demo.png" class="thumbnail-facility" alt="Alternate Text"/>
            <p class="text-center facility-text">3 Bedrooms</p>
        </div>
        <div class="facility-detail-apartment">
            <img src="Images/img-demo.png" class="thumbnail-facility" alt="Alternate Text"/>
            <p class="text-center facility-text">2 Bathrooms</p>
        </div>
        <div class="facility-detail-apartment">
            <img src="Images/img-demo.png" class="thumbnail-facility" alt="Alternate Text"/>
            <p class="text-center facility-text">128.53 m2</p>
        </div>

    </div>
    <div class="about-this-listing">
        <div class="title-apartment-detail">ABOUT THIS LISTING</div>
        <div class="about-this-listing-border">
            <p class="med-text">- Highlight 1: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <p class="med-text">- Highlight 2: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="about-this-listing-none-border">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        </div>
    </div>
    <div class="tour-this-home">
        <div class="title-apartment-detail">TOUR THIS HOME</div>
        <div class="col-xs-12 tour-this-home-slide">
            <div class="owl-carousel owl-theme">
                <div class="item">
                    <div class="">
                        <img src="Images/img-demo.png" alt="Alternate Text" />
                    </div>
                </div>
                <div class="item">
                    <div class="">
                        <img src="Images/img-demo.png" alt="Alternate Text" />
                    </div>
                </div>
                <div class="item">
                    <div class="">
                        <img src="Images/img-demo.png" alt="Alternate Text" />
                    </div>
                </div>
            </div>
            <div class="title-tour-this-home">
                Living room
            </div>
        </div>
        <div class="col-xs-12 tour-this-home-slide">
            <div class="owl-carousel owl-theme">
                <div class="item">
                    <div class="">
                        <img src="Images/img-demo.png" alt="Alternate Text" />
                    </div>
                </div>
                <div class="item">
                    <div class="">
                        <img src="Images/img-demo.png" alt="Alternate Text" />
                    </div>
                </div>
                <div class="item">
                    <div class="">
                        <img src="Images/img-demo.png" alt="Alternate Text" />
                    </div>
                </div>
            </div>
            <div class="title-tour-this-home">
                Bedroom
            </div>
        </div>
        <div class="col-xs-12 tour-this-home-slide">
            <div class="owl-carousel owl-theme">
                <div class="item">
                    <div class="">
                        <img src="Images/img-demo.png" alt="Alternate Text" />
                    </div>
                </div>
                <div class="item">
                    <div class="">
                        <img src="Images/img-demo.png" alt="Alternate Text" />
                    </div>
                </div>
                <div class="item">
                    <div class="">
                        <img src="Images/img-demo.png" alt="Alternate Text" />
                    </div>
                </div>
            </div>
            <div class="title-tour-this-home">
                Bathroom
            </div>
        </div>
        <div class="col-xs-12 tour-this-home-slide">
            <div class="owl-carousel owl-theme">
                <div class="item">
                    <div class="">
                        <img src="Images/img-demo.png" alt="Alternate Text" />
                    </div>
                </div>
                <div class="item">
                    <div class="">
                        <img src="Images/img-demo.png" alt="Alternate Text" />
                    </div>
                </div>
                <div class="item">
                    <div class="">
                        <img src="Images/img-demo.png" alt="Alternate Text" />
                    </div>
                </div>
            </div>
            <div class="title-tour-this-home">
                Other
            </div>
        </div>
    </div>
    <div class="amenities">
        <img src="Images/img-demo.png" class="amenities-img" alt="Alternate Text" />
        <img src="Images/img-demo.png" class="amenities-img" alt="Alternate Text" />
        <img src="Images/img-demo.png" class="amenities-img" alt="Alternate Text" />
        <img src="Images/img-demo.png" class="amenities-img" alt="Alternate Text" />
        <img src="Images/img-demo.png" class="amenities-img" alt="Alternate Text" />
        <img src="Images/img-demo.png" class="amenities-img" alt="Alternate Text" />
        <img src="Images/img-demo.png" class="amenities-img" alt="Alternate Text" />
        <img src="Images/img-demo.png" class="amenities-img" alt="Alternate Text" />
        <img src="Images/img-demo.png" class="amenities-img" alt="Alternate Text" />
        <img src="Images/img-demo.png" class="amenities-img" alt="Alternate Text" />
    </div>
    <div class="apartment-detail-owner">
        <div class="title-apartment-detail">Owner</div>
            <div class="avatar-owner">
                <img src="Images/img-demo.png" alt="Alternate Text"/>
            </div>
            <div class=" time-join">
                Join in October 2018
            </div>
            <div class=" owner-name">
                Gal Gadot
            </div>
        
    </div>
    <div class="apartment-detail-map">
        <div class="mapouter">
            <div class="gmap_canvas"><iframe id="gmap_canvas" src="https://maps.google.com/maps?q=2-135%20Ph%E1%BB%91%20Kh%C6%B0%C6%A1ng%20Th%C6%B0%E1%BB%A3ng%2C%20Trung%20Li%E1%BB%87t%2C%20%C4%90%E1%BB%91ng%20%C4%90a%2C%20H%C3%A0%20N%E1%BB%99i%2C%20Vietnam&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe></div>
            <style>
                .mapouter {
                    text-align: right;
                    height: 500px;
                    width: 600px;
                }

                .gmap_canvas {
                    overflow: hidden;
                    background: none !important;
                }
            </style></div>
    </div>
</div>
<div class="col-md-5 apartment-detail-service" ng-click="changeService()">
    <div class="header-service">
        <p class="label-service">
            Estimate price included service:
        </p>
        <span class="price-service-left float-left med-text">{{perNightPrice}} $ /per night</span>
        <span class="price-service-right float-right med-text">$ {{totalPrice}} / per month</span>
    </div>
    <div class="body-service">
        <div class="line-service">
            <span class="net-price-label float-left med-text">Apartment net price</span>
            <span class="net-price-value float-right med-text">$ {{apartmentPrice}} / month</span>
        </div>
        <div class="line-service">
            <span class="total-price-label float-left med-text">Service total price:</span>
            <span class="total-price-value float-right med-text">$ {{servicePrice}} / month</span>
        </div>
        <div class="line-service">
            <span class="float-left sm-text">Service package:</span>
            <span class="float-right" style="margin-right: 54px">Custom</span>
            <span class="float-right" style="margin-right: 66px">Basic</span>
        </div>
        <div class="line-service">
            <input class="float-right" style="margin-right: 63px" id="radioCustom" ng-click="radioService()" type="radio" name="a"  />
            <input class="float-right  " style="margin-right: 63px" id="radioBasic" ng-click="radioService()" type="radio" name="a" checked/>

        </div>
        <div class="line-service bg-gray" ng-class="basic">
            <p class="inline float-left">Management fee</p>
            <span class="checkbox-service float-right">
                <label class="material-checkbox">
                    <input type="checkbox" id="checkboxFee" checked>
                    <span></span>
                </label>
            </span>
            
        </div>
        <div class="line-service" ng-class="basic">
            <p class="inline float-left">Internet / wifi</p>
            <span class="checkbox-service float-right">
                <label class="material-checkbox">
                    <input type="checkbox" id="checkboxInternet" checked>
                    <span></span>
                </label>
            </span>
        </div>
        <div class="line-service bg-gray" ng-class="basic">
            <p class="inline float-left">Foreign TV  </p>
            <select class="select-foreign-tv float-right" id="foreign-tv">
                <option value="0">None</option>
                <option value="25">Japanese TV PP1 Package</option>
                <option value="35">Japanese TV PP2 Package</option>
                <option value="50">Japanese TV PP3 Package</option>
                <option value="35">Japanese TV BB max 1</option>
                <option value="50">Japanese TV BB max 2</option>
                <option value="70">Japanese TV BB max 3</option>
                <option value="40">Korean TV</option>
                <option value="10">Vietnamese K+ TV</option>
                <option value="10">An Vien TV</option>
            </select>
        </div>
        <div class="line-service" ng-class="basic">
            <p class="inline float-left">Laundry & Cleaning  </p>
            <div class="float-right group-btn-service">
                <button class="minus" ng-click="cleaning = cleaning - 1" ng-disabled="cleaning == 1">-</button>
                <button class="plus" ng-click="cleaning = cleaning + 1" ng-disabled="cleaning == 6">+</button>
            </div>
            <span class="float-right quantity-service">{{cleaning}}</span>
        </div>
        <div class="line-service bg-gray"  ng-class="basic">
            <p class="inline float-left">Drinking water</p>
            <div class="float-right group-btn-service">
                <button class="minus" ng-click="bottle = bottle - 1" ng-disabled="bottle == 1">-</button>
                <button class="plus" ng-click="bottle = bottle + 1" ng-disabled="bottle == 6">+</button>
            </div>
            <span class="float-right quantity-service">{{bottle}}</span>
        </div>
        <div class="line-service" ng-class="basic">
            <p class="inline float-left">Detergent, toilet paper</p>
            <span class="checkbox-service float-right">
                <label class="material-checkbox">
                    <input type="checkbox" id="checkboxToilet" checked>
                    <span></span>
                </label>
            </span>
        </div>

        <div class="line-service bg-gray" ng-class="basic" ng-click="changeService()">
            <span class="float-left sm-text">Electric & water  bill</span>
            <div class="electric-bill-block float-right">
                <span>$ </span><input type="text" ng-change="changeBill();changeService()" ng-model="electricBill" class="electric-bill-input" name="electric-bill" />
            </div>
            
        </div>


        <div class="line-service" ng-class="basic">
            <p class="inline float-left">Extra service</p>
            <span class="checkbox-service float-right">
                <label class="material-checkbox">
                    <input type="checkbox" id="checkboxExtra">
                    <span></span>
                </label>
            </span>
        </div>
        <div class="col-xs-12 apartment-service-box">
            <div class="float-left apartment-interact">
                <i style="margin-right: 10px" class="fas fa-share"></i>
                <i style="margin-right: 10px" class="fas fa-heart"></i>
                <i class="fas fa-bookmark"></i>
            </div>
            <button class="float-right btn-service box-shadow">SEND VISITING REQUEST</button>
        </div>
    </div>
</div>
<div class="col-xs-12 similar-listing">
    <div class="title-apartment-detail">SIMILIAR LISTING</div>
    <div class="slide-similar owl-carousel owl-theme">
        <div class="item">
            <div class="thumbnail-choose-home">
                <div class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="choose-home-item box-shadow">
                            <img src="Images/img-demo.png" class="amenities-img" alt="Alternate Text" />
                        </div>
                    </div>
                    <div class="item">
                        <div class="choose-home-item box-shadow">
                            <img src="Images/img-demo.png" class="amenities-img" alt="Alternate Text" />
                        </div>
                    </div>
                    <div class="item">
                        <div class="choose-home-item box-shadow">
                            <img src="Images/img-demo.png" class="amenities-img" alt="Alternate Text" />
                        </div>
                    </div>
                </div>
                <div class="choose-home-summary">
                    <div class="choose-home-code">
                        House P123456
                    </div>
                    <div class="choose-home-name">
                        Royal City R2 Apartment Fully Furnished &Aacute; Marble Floor
                    </div>
                    <div class="choose-home-detail float-left">
                        <p>Bedrooms: 2</p>
                        <p>Dong Da, Hanoi</p>
                    </div>
                    <div class="choose-home-price float-right">
                        <span class="text-price-title">Estimate Price:</span>
                        <p class="price">$ <span>2400</span></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="thumbnail-choose-home">
                <div class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="choose-home-item box-shadow">
                            <img src="Images/img-demo.png" class="amenities-img" alt="Alternate Text" />
                        </div>
                    </div>
                    <div class="item">
                        <div class="choose-home-item box-shadow">
                            <img src="Images/img-demo.png" class="amenities-img" alt="Alternate Text" />
                        </div>
                    </div>
                    <div class="item">
                        <div class="choose-home-item box-shadow">
                            <img src="Images/img-demo.png" class="amenities-img" alt="Alternate Text" />
                        </div>
                    </div>
                </div>
                <div class="choose-home-summary">
                    <div class="choose-home-code">
                        House P123456
                    </div>
                    <div class="choose-home-name">
                        Royal City R2 Apartment Fully Furnished &Aacute; Marble Floor
                    </div>
                    <div class="choose-home-detail float-left">
                        <p>Bedrooms: 2</p>
                        <p>Dong Da, Hanoi</p>
                    </div>
                    <div class="choose-home-price float-right">
                        <span class="text-price-title">Estimate Price:</span>
                        <p class="price">$ <span>2400</span></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="thumbnail-choose-home">
                <div class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="choose-home-item box-shadow">
                            <img src="Images/img-demo.png" class="amenities-img" alt="Alternate Text" />
                        </div>
                    </div>
                    <div class="item">
                        <div class="choose-home-item box-shadow">
                            <img src="Images/img-demo.png" class="amenities-img" alt="Alternate Text" />
                        </div>
                    </div>
                    <div class="item">
                        <div class="choose-home-item box-shadow">
                            <img src="Images/img-demo.png" class="amenities-img" alt="Alternate Text" />
                        </div>
                    </div>
                </div>
                <div class="choose-home-summary">
                    <div class="choose-home-code">
                        House P123456
                    </div>
                    <div class="choose-home-name">
                        Royal City R2 Apartment Fully Furnished &Aacute; Marble Floor
                    </div>
                    <div class="choose-home-detail float-left">
                        <p>Bedrooms: 2</p>
                        <p>Dong Da, Hanoi</p>
                    </div>
                    <div class="choose-home-price float-right">
                        <span class="text-price-title">Estimate Price:</span>
                        <p class="price">$ <span>2400</span></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="thumbnail-choose-home">
                <div class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="choose-home-item box-shadow">
                            <img src="Images/img-demo.png" class="amenities-img" alt="Alternate Text" />
                        </div>
                    </div>
                    <div class="item">
                        <div class="choose-home-item box-shadow">
                            <img src="Images/img-demo.png" class="amenities-img" alt="Alternate Text" />
                        </div>
                    </div>
                    <div class="item">
                        <div class="choose-home-item box-shadow">
                            <img src="Images/img-demo.png" class="amenities-img" alt="Alternate Text" />
                        </div>
                    </div>
                </div>
                <div class="choose-home-summary">
                    <div class="choose-home-code">
                        House P123456
                    </div>
                    <div class="choose-home-name">
                        Royal City R2 Apartment Fully Furnished &Aacute; Marble Floor
                    </div>
                    <div class="choose-home-detail float-left">
                        <p>Bedrooms: 2</p>
                        <p>Dong Da, Hanoi</p>
                    </div>
                    <div class="choose-home-price float-right">
                        <span class="text-price-title">Estimate Price:</span>
                        <p class="price">$ <span>2400</span></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="thumbnail-choose-home">
                <div class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="choose-home-item box-shadow">
                            <img src="Images/img-demo.png" class="amenities-img" alt="Alternate Text" />
                        </div>
                    </div>
                    <div class="item">
                        <div class="choose-home-item box-shadow">
                            <img src="Images/img-demo.png" class="amenities-img" alt="Alternate Text" />
                        </div>
                    </div>
                    <div class="item">
                        <div class="choose-home-item box-shadow">
                            <img src="Images/img-demo.png" class="amenities-img" alt="Alternate Text" />
                        </div>
                    </div>
                </div>
                <div class="choose-home-summary">
                    <div class="choose-home-code">
                        House P123456
                    </div>
                    <div class="choose-home-name">
                        Royal City R2 Apartment Fully Furnished &Aacute; Marble Floor
                    </div>
                    <div class="choose-home-detail float-left">
                        <p>Bedrooms: 2</p>
                        <p>Dong Da, Hanoi</p>
                    </div>
                    <div class="choose-home-price float-right">
                        <span class="text-price-title">Estimate Price:</span>
                        <p class="price">$ <span>2400</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
<script>
    $(document).ready(function () {

        var owl = $('.tour-this-home .owl-carousel');
        owl.owlCarousel({
            margin: 30,
            autoplay: true,
            autoplayTimeout: 2500,
            autoplayHoverPause: true,
            loop: true,
            items: 2,
            nav: true,
            animateOut: 'fadeOut'
        });

        $('.header-apartment-detail .owl-carousel').owlCarousel({
            margin: 0,
            autoplay: true,
            autoplayTimeout: 2500,
            autoplayHoverPause: true,
            loop: true,
            items: 1,
            nav: true,
            animateOut: 'fadeOut'
        });

        $('.similar-listing .slide-similar').owlCarousel({
            margin: 10,
            autoplay: true,
            autoplayTimeout: 2500,
            autoplayHoverPause: true,
            nav: true,
            loop: true,
            responsive:{
                0:{
                    items:2,
                    nav: true
                },
                600:{
                    items: 3,
                    nav:true
                },
                1000:{
                    items:4,
                    nav: true,
                    loop:true
                }
            },
            animateOut: 'fadeOut'
        });
        $('.similar-listing .thumbnail-choose-home .owl-carousel').owlCarousel({
            margin: 0,
            autoplay: true,
            autoplayTimeout: 2500,
            autoplayHoverPause: true,
            loop: true,
            items: 1,
            nav: true,
            animateOut: 'fadeOut'
        });

    })
</script>