<div ng-controller="ApartmentCtrl" ng-init="loadApartmentDetail()">
<div class="container-fluid header-apartment-detail">
    <img ng-src="{{apartment.banner}}" alt="Alternate Text" />
</div>
<div class="container">
<div class="row apartment-detail-body">
<div class="col-md-7">
    <div class="sm-text">{{apartment.Code}}</div>
    <div class="title-detail-apartment">
        {{apartment.Name}}
    </div>
    <div class="address-detail-apartment">
        {{apartment.Address}}
    </div>
    <div class="facilities-detail-apartment">
        <div class="facility-detail-apartment">
            <img src="/Images/icon/apartment.png" class="thumbnail-facility" alt="Alternate Text"/>
            <p class="text-center facility-text" translate>apartment_uppercase</p>
        </div>
        <div class="facility-detail-apartment">
            <img src="/Images/icon/bedroom.png" class="thumbnail-facility" alt="Alternate Text"/>
            <p class="text-center facility-text">{{apartment.NoBedRoom}} {{"bedrooms" | translate}}</p>
        </div>
        <div class="facility-detail-apartment">
            <img src="/Images/icon/bathroom.png" class="thumbnail-facility" alt="Alternate Text"/>
            <p class="text-center facility-text">{{apartment.NoBathRoom}} {{"bathrooms" | translate}}</p>
        </div>
        <div class="facility-detail-apartment">
            <img src="/Images/icon/area.png" class="thumbnail-facility" alt="Alternate Text"/>
            <p class="text-center facility-text">{{apartment.Area}} m<sup>2</sup></p>
        </div>

    </div>
    <div class="about-this-listing">
        <div class="title-apartment-detail" >{{"about_this_listing" | translate}}</div>
        <div class="about-this-listing-none-border" ng-bind-html="apartment.Description | trust">
        </div>
    </div>
    <div class="tour-this-home">
        <div class="title-apartment-detail">{{"tour_this_home" | translate}}</div>
        <div class="col-xs-12 tour-this-home-slide" >
            <div class="owl-carousel owl-theme">
                <div class="item" ng-repeat="livRoom in apartment.ImgList" ng-if="livRoom.Type == 2">
                    <div class="">
                        <img ng-src="{{livRoom.Img}}" alt="Alternate Text" />
                    </div>
                </div>
            </div>
            <div class="title-tour-this-home" >
                {{"living_room" | translate}}
            </div>
        </div>
        <div class="col-xs-12 tour-this-home-slide">
            <div class="owl-carousel owl-theme">
                <div class="item" ng-repeat="bedRoom in apartment.ImgList" ng-if="bedRoom.Type == 3">
                    <div class="">
                        <img ng-src="{{bedRoom.Img}}" alt="Alternate Text" />
                    </div>
                </div>
            </div>
            <div class="title-tour-this-home">
                {{"bedrooms" | translate}}
            </div>
        </div>
        <div class="col-xs-12 tour-this-home-slide">
            <div class="owl-carousel owl-theme">
                <div class="item" ng-repeat="bathRoom in apartment.ImgList" ng-if="bathRoom.Type == 4">
                    <div class="">
                        <img ng-src="{{bathRoom.Img}}" alt="Alternate Text" />
                    </div>
                </div>
            </div>
            <div class="title-tour-this-home">
                {{"bathrooms" | translate}}
            </div>
        </div>
        <div class="col-xs-12 tour-this-home-slide">
            <div class="owl-carousel owl-theme">
                <div class="item" ng-repeat="bedRoom in apartment.ImgList" ng-if="bedRoom.Type == 5">
                    <div class="">
                        <img ng-src="{{bedRoom.Img}}" alt="Alternate Text" />
                    </div>
                </div>
            </div>
            <div class="title-tour-this-home" translate>
                other_text
            </div>
        </div>
    </div>
    <div class="amenities">
        <div class="title-apartment-detail" translate>amenities </div>
        <div ng-repeat="facility in apartment.FacilityList" class="amenities-content text-center">
            <img ng-src="/Upload/{{facility.Img}}" class="amenities-img" alt="Alternate Text" />
            <span class="text-facilities m-t-5">{{facility.Content.Name}}</span>
        </div>
        
    </div>
    <div class="apartment-detail-owner" style="    margin-top: 30px;">
        <div class="title-apartment-detail" translate>owner</div>
            <div class="avatar-owner">
                <img ng-src="{{apartment.UserProfileOwner.Avatar}}" alt="Alternate Text"/>
            </div>
            <div class=" time-join">
                <span translate="">join_in</span> October 2018
            </div>
            <div class=" owner-name">
                {{apartment.UserProfileOwner.FullName}}
            </div>
    </div>
    <div class="apartment-detail-map">
        <div id="map"></div>
    </div>
</div>
<form class="col-md-5 apartment-detail-service" ng-submit="submitApartment()" ng-click="changeService()">
    <div class="header-service">
        <p class="label-service">{{"estimate_price_included_service" | translate}} :</p>
        <span class="price-service-left float-left med-text" >{{perNightPrice}} $ / {{'per_text'| translate}} {{'night_text' | translate}}</span>
        <span class="price-service-right float-right med-text">$ {{totalPrice}} / {{'per_text'| translate}} {{'month_text' | translate}}</span>
    </div>
    <div class="body-service">
        <div class="line-service small-line">
            <span class="net-price-label float-left med-text" translate>apartment_price</span>
            <span class="net-price-value float-right med-text">$ {{apartment.Price}} / <span translate="">month_text</span></span>
        </div>
        <div class="line-service small-line">
            <span class="total-price-label float-left med-text" ><span translate="">service_total_price</span>:</span>
            <span class="total-price-value float-right med-text">$ {{servicePrice}} / <span translate="">month_text</span></span>
        </div>
        <div class="line-service small-line">
            <span class="float-left sm-text"> <span translate="">service_package</span> :</span>
            <span class="float-right" style="margin-right: 81px" translate>custom</span>
            <span class="float-right" style="margin-right: 48px" translate>basic</span>
        </div>
        <div class="line-service small-line">
            <div class="float-left" style="width: 117px;display: inline-block;height:20px"></div>
            <input class="float-right" style="margin-bottom: 20px; margin-right: 98px" id="radioCustom" ng-click="radioService()" type="radio" name="a" />
            <input class="float-right  " style="margin-bottom: 20px; margin-right: 40px" id="radioBasic" ng-click="radioService()" type="radio" name="a" checked/>

        </div>
        <div class="line-service bg-gray service-basic">
            <p class="inline float-left" translate>management_fee_by</p>
            <span class="checkbox-service float-right">
                <label class="material-checkbox">
                    <input type="checkbox" id="checkboxFee" checked>
                    <span></span>
                </label>
            </span>
            
        </div>
        <div class="line-service" ng-class="basic">
            <p class="inline float-left">Internet / wifi</p>
            <span class="checkbox-service float-right">
                <label class="material-checkbox">
                    <input type="checkbox" id="checkboxInternet" checked>
                    <span></span>
                </label>
            </span>
        </div>
        <div class="line-service bg-gray foreign-tv-box"  ng-class="basic">
            <p style="margin-top: 10px;" class="inline float-left" translate>foreign_tv  </p>
            <ui-select ng-model="foreignTv.selected" theme="selectize" search-enabled="false" ng-disabled="disabled" class="select-foreign-tv " title="Choose a foreign TV">
                <ui-select-match placeholder="Select foreign TV">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="foreignTv in foreignTvs">
                    <span ng-bind-html="foreignTv.name "></span>
                </ui-select-choices>
            </ui-select>
            <!-- <select class="select-foreign-tv float-right" id="foreign-tv"> -->
            <!--     <option value="0">None</option> -->
            <!--     <option value="25">Japanese TV PP1 Package</option> -->
            <!--     <option value="35">Japanese TV PP2 Package</option> -->
            <!--     <option value="50">Japanese TV PP3 Package</option> -->
            <!--     <option value="35">Japanese TV BB max 1</option> -->
            <!--     <option value="50">Japanese TV BB max 2</option> -->
            <!--     <option value="70">Japanese TV BB max 3</option> -->
            <!--     <option value="40">Korean TV</option> -->
            <!--     <option value="10">Vietnamese K+ TV</option> -->
            <!--     <option value="10">An Vien TV</option> -->
            <!-- </select> -->
        </div>
        <div class="line-service" ng-class="basic">
            <p class="inline float-left" translate>laundry_cleaning  </p>
            <div class="float-right group-btn-service">
                <button type="button" class="minus" ng-click="cleaning = cleaning - 1" ng-disabled="cleaning == 0">-</button>
                <button type="button" class="plus" ng-click="cleaning = cleaning + 1" ng-disabled="cleaning == 6">+</button>
            </div>
            <span class="float-right quantity-service">{{cleaning}}</span>
        </div>
        <div class="line-service bg-gray"  ng-class="basic">
            <p class="inline float-left" translate>drinking_water</p>
            <div class="float-right group-btn-service">
                <button type="button" class="minus" ng-click="bottle = bottle - 1" ng-disabled="bottle == 0">-</button>
                <button type="button" class="plus" ng-click="bottle = bottle + 1" ng-disabled="bottle == 6">+</button>
            </div>
            <span class="float-right quantity-service">{{bottle}}</span>
        </div>
        <div class="line-service" ng-class="basic">
            <p class="inline float-left" ><span translate="">detergent</span> ,<span translate="">toilet_paper</span></p>
            <span class="checkbox-service float-right">
                <label class="material-checkbox">
                    <input type="checkbox" id="checkboxToilet" checked>
                    <span></span>
                </label>
            </span>
        </div>

        <div class="line-service bg-gray" ng-class="basic" ng-click="changeService()">
            <p class="float-left sm-text" translate>electric_water_bill</p>
            <div class="electric-bill-block float-right">
                <span>$ </span><input type="text" ng-change="changeBill();changeService()" ng-model="electricBill" class="electric-bill-input" name="electric-bill" />
            </div>
            
        </div>


        <div class="line-service" ng-class="basic">
            <p class="inline float-left" translate>include_tax</p>
            <span class="checkbox-service float-right">
                <label class="material-checkbox">
                    <input type="checkbox" id="checkboxExtra">
                    <span></span>
                </label>
            </span>
        </div>
        <div class="col-xs-12 apartment-service-box">
            <div class="float-left apartment-interact">
                <i style="margin-right: 10px" class="fas fa-share"></i>
                <i class="fas fa-heart" ng-click="saveToBookmark(apartment)"></i>
            </div>
            <button type="submit" class="float-right btn-service box-shadow" translate>send_visiting_request</button>
        </div>
    </div>
</form>
<div class="col-xs-12 similar-listing">
    <div class="title-apartment-detail" translate>similiar_listing</div>
    <div class="slide-similar owl-carousel owl-theme">
        <div class="item" ng-repeat="item in apartmentList">
            <div class="thumbnail-choose-home">
                <a ui-sref="apartmentdetail({id: item.Id,name: replaceString(item.Name)})" class="aparment-banner">
                    <img ng-src="{{item.ImgList[0].Img}}" alt="Alternate Text" />
                </a>
                <div class="choose-home-summary">
                    <a ui-sref="apartmentdetail({id: item.Id,name: replaceString(item.Name)})" class="choose-home-code">
                        {{item.Code}}
                    </a>
                    <a ui-sref="apartmentdetail({id: item.Id,name: replaceString(item.Name)})" class="choose-home-name">
                        {{item.Name | limitTo : 41}}{{item.Name.length > 41 ? '...' : ''}}
                    </a>
                    <div class="choose-home-detail float-left">
                        <p>{{"bedrooms" | translate}}: {{item.NoBedRoom}}</p>
                        <p>{{item.City}}</p>
                    </div>
                    <div class="choose-home-price float-right">
                        <span class="text-price-title"><span translate="">estimate_price</span>:</span>
                        <p class="price">$ <span>{{item.Price}}</span></p>
                    </div>
                </div>
            </div>
        </div>
        
        
    </div>
</div>
</div>
</div>
</div>