<div ng-controller="BlogCtrl" ng-init="loadData()">
    <div class="phase1" style="background: url('{{slideImg}}') no-repeat;background-size: cover;">
    </div>

    <div class="container padding-top-60">


        <div>
            <button class="news text" ng-click="type = 0; pageChanged()">News</button>
        </div>
        <div>
            <button class="experience text" ng-click="type = 1; pageChanged()">Experience</button>
        </div>
        <div>
            <button class="tips text" ng-click="type = 2; pageChanged()">Tips</button>
        </div>
        <form ng-submit="pageChanged()">
            <div class="blogsearch-box ">
                <input type="text" placeholder="Keyword" ng-model="search">
                <button type="submit" class=" text" >Search</button>
            </div>
        </form>


    </div>

    

    <div class="container padding-top-60 blogBox">
        <div class="row">
            <div class="col-md-4" ng-repeat="item in blogList">
                <div class="blog-box">
                    <img src="/Upload/{{item.Img}}" alt="#" class="img-fluid" />
                </div>
                <div class="blog-box-below">
                    <p class="text padding-top-20" data-toggle="modal" data-target="#myModal" ng-click="loadDetail(item.Id)">{{item.Content.Title | limitTo : 50}}{{item.Content.Title.length > 50 ? '...' : ''}}</p>
                    <p class="text1">{{item.CreatedString}}</p>
                    <p class="text2">{{item.Content.Description | limitTo : 100}}{{item.Content.Description.length > 100 ? '...' : ''}}</p>
                    <div class="read-more-button"><a ui-sref="blogdetail({id:item.Id})">READ MORE</a></div>
                </div>
            </div>
        </div>
    </div>

    




    <div class=" container padding-top-60 padding-bottom-60">
        <div class="row">
            <div class="col-md-offset-4 col-md-4 final  text-center">
                <button id="loadMore" class="text2">Load more</button>
            </div>
        </div>
    </div>
    

    
</div>