<div class="container bookmark" ng-init="loadBookmark()" ng-controller="BookmarkCtrl">
	<div class="warp">
		<div class="header-warp">
			<div class="title-warp" translate="">bookmark_uppercase</div>
		</div>
		<div class="body-warp">
			<div class="list-apartment-bookmark">
				<div class="">
                    <div class="col-xs-12 thumbnail-choose-home" ng-repeat="apartment in apartmentList track by $index">
                        <div class="slide-choose-home col-md-5 " >
                            <a style="height: 100%;" ui-sref="apartmentdetail({id: apartment.Id,name: replaceString(apartment.Name)})"><img ng-src="{{apartment.ImgList[0].Img}}" class="img-full" alt="Alternate Text" /></a>
                        </div>
                        <div class="choose-home-summary-column clearfix col-md-6 ">
                            <div class="sumary-detail">
                                <a  ui-sref="apartmentdetail({id: apartment.Id,name: replaceString(apartment.Name)})" class="apartment-code">
                                    {{apartment.Code}}
                                </a>
                                <a ui-sref="apartmentdetail({id: apartment.Id,name: replaceString(apartment.Name)})" class="apartment-name">
                                    {{apartment.Name}}
                                </a>
                                <div class="apartment-address">
                                    {{apartment.Address}}
                                </div>
                                <div class="apartment-facilities">
                                    <div class="apartment-facility">
                                        <img src="/Images/icon/apartment.png" alt="">
                                        <p translate="">apartment_uppercase</p>
                                    </div>
                                    <div class="apartment-facility">
                                        <img src="/Images/icon/bedroom.png" alt="">
                                        <p>{{apartment.NoBedRoom}} <span translate="">bedrooms</span></p>
                                    </div>
                                    <div class="apartment-facility">
                                        <img src="/Images/icon/bathroom.png" alt="">
                                        <p>{{apartment.NoBathRoom}} <span translate="">bathrooms</span></p>
                                    </div>
                                    <div class="apartment-facility">
                                        <img src="/Images/icon/area.png" alt="">
                                        <p>{{apartment.Area}} m<sup>2</sup></p>
                                    </div>
                                </div>
                                <div class="apartment-description" ng-bind-html="(apartment.Description | limitTo : 170) + '...'">
                                    
                                </div>
                                <div class="apartment-price">
                                    <span class="price-label">{{"estimate_price" |translate}} :</span>
                                    <span>$ {{apartment.Price}} / {{'month_text' | translate}} <span class="tiny-text">or</span> {{(apartment.Price/30).toFixed(2)}} $/ {{'night_text' | translate}}</span>
                                </div>
                            </div>
                        </div>
                        <a href="#" class="product-delete col-xs-1" ng-click="deleteApartment($index)">
                            <div class="icon-delete">
                                <i class="far fa-trash-alt"></i>
                            </div>
                        </a>
                    </div>
                </div>
			</div>
            <div id="sendVisitList" ng-show="userProfile && (apartmentList.length > 0)" class="btn-send-visiting box-shadow">
                <button type="button" ng-click="sendVisitList()" translate="">send_visiting_request</button>
            </div>
		</div>
	</div>
</div>