<div ng-controller="CareerCtrl">
<div class="container" style="margin-bottom:70px;">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
	<p class="ab-text-28" style="margin-top: 70px;text-align: right;" translate>cr_Careers</p>
	<p class="ab-text-20-1" style="margin-bottom:70px;" translate>cr_oneof</p>
	</div>
	</div>
	<a href="#" class="car-btn" translate>cr_join</a>
	<p class="ab-text-28" style="margin-top: 70px;text-align: center;" translate>cr_why</p>
	<div class="row">
		<div class="col-md-3 col-md-offset-1">
			<div class="cr-circle"></div>
				<p class="cr-text-16" translate>cr_fast</p>
				<p class="cr-text-14" translate>cr_we</p>
		</div>
		<div class="col-md-3" style="    margin-left: 85px;">
			<div class="cr-circle"></div>
				<p class="cr-text-16" translate>cr_learn</p>
				<p class="cr-text-14" translate>cr_curi</p>
		</div>
		<div class="col-md-3 ">
			<div class="cr-circle"></div>
				<p class="cr-text-16" translate>cr_high</p>
				<p class="cr-text-14" translate>cr_as</p>
		</div>
		
		<div class="col-md-3 col-md-offset-1">
			<div class="cr-circle"></div>
				<p class="cr-text-16" translate>cr_flexible</p>
				<p class="cr-text-14" translate>cr_work</p>
		</div>
		<div class="col-md-3" style="    margin-left: 85px;">
			<div class="cr-circle"></div>
				<p class="cr-text-16" translate>cr_great</p>
				<p class="cr-text-14" translate>cr_diff</p>
		</div>
		<div class="col-md-3 ">
			<div class="cr-circle"></div>
				<p class="cr-text-16" translate>cr_refer</p>
				<p class="cr-text-14" translate>cr_wehave</p>
		</div>
		</div>
<div class="row">
		<div class="col-md-3 col-md-offset-1">
			<div class="cr-circle"></div>
				<p class="cr-text-16" translate>cr_fully</p>
				<p class="cr-text-14" translate>cr_snack</p>
		</div>
		<div class="col-md-3" style="    margin-left: 85px;">
			<div class="cr-circle"></div>
				<p class="cr-text-16" translate>cr_medical</p>
				<p class="cr-text-14" translate>cr_foryou</p>
		</div>
		<div class="col-md-3 ">
			<div class="cr-circle"></div>
				<p class="cr-text-16" translate>cr_team</p>
				<p class="cr-text-14" translate>cr_travel</p>	
		</div>
	</div>
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
	<p class="service-text-26" style="margin-top: 70px;text-align: center;margin-bottom: 30px;" translate>cr_wantto</p>
	<p class="cr-text-16" translate>cr_every</p>
</div>
</div>

</div>

<div class="container">
	<div class="row">
	<div class="content-career col-md-10 col-md-offset-1">
<ul class="tabs">
            <li class="tab-link current " data-tab="tab-1"  translate="">cr_marketing</li>
            <li class="tab-link" data-tab="tab-2"  translate="">cr_sale</li>
            <li class="tab-link" data-tab="tab-3" translate="">cr_accounting</li>
            <li class="tab-link" data-tab="tab-4"  translate="">cr_development</li>
            <li class="tab-link" data-tab="tab-5"  translate="">cr_management</li>
            <li class="tab-link" data-tab="tab-6" translate="">cr_developer</li>
 </ul>
 <!-- Marketing -->
 <div id="tab-1" class="tab-content current" ng-init="loadData()">
<div class="row" class="tab-content current">
	<div ng-repeat="item in careerList">
	<div class="col-md-6">
		<p class="cr-text-14" style="display: inline-block;" translate>{{item.Content.Title}}</p><br>
		<p class="cr-text-14" style="display: inline-block;" translate>{{item.City}}</p>
		<div style="display: inline-block;">
			<span ng-if="item.Type == 0">/ Full-time</span>
			<span ng-if="item.Type == 1">/ Part-time</span>
		</div>
		<p class="cr-text-14" style="display: inline-block;" translate> / ${{item.SalaryMin}}</p>
	</div>
	<div class="col-md-6">
		<a ui-sref="careerdetail({id:item.Id, title: replaceString(item.Content.Title)})" class="apply-btn" translate>cr_apply</a>
	</div>
	<div class="col-md-12">
		<div class="grey-line"></div>
	</div>
	</div>
</div>
 	</div>
<!-- Sale -->
 <div id="tab-2" class="tab-content" ng-init="loadData1()">
<div class="row" class="tab-content current">
	<div ng-repeat="item in careerList1">
	<div class="col-md-6">
		<p class="cr-text-14" style="display: inline-block;" translate>{{item.Content.Title}}</p><br>
		<p class="cr-text-14" style="display: inline-block;" translate>{{item.City}}</p>
		<div style="display: inline-block;">
			<span ng-if="item.Type == 0">/ Full-time</span>
			<span ng-if="item.Type == 1">/ Part-time</span>
		</div>
		<p class="cr-text-14" style="display: inline-block;" translate> / ${{item.SalaryMin}}</p>
	</div>
	<div class="col-md-6">
		<a ui-sref="careerdetail({id:item.Id, title: replaceString(item.Content.Title)})" class="apply-btn" translate>cr_apply</a>
	</div>
	<div class="col-md-12">
		<div class="grey-line"></div>
	</div>
	</div>
</div>
 	</div>
<!-- accounting -->
 <div id="tab-3" class="tab-content" ng-init="loadData2()">
 	<div class="row" class="tab-content current">
	<div ng-repeat="item in careerList2">
	<div class="col-md-6">
		<p class="cr-text-14" style="display: inline-block;" translate>{{item.Content.Title}}</p><br>
		<p class="cr-text-14" style="display: inline-block;" translate>{{item.City}}</p>
		<div style="display: inline-block;">
			<span ng-if="item.Type == 0">/ Full-time</span>
			<span ng-if="item.Type == 1">/ Part-time</span>
		</div>
		<p class="cr-text-14" style="display: inline-block;" translate> / ${{item.SalaryMin}}</p>
	</div>
	<div class="col-md-6">
		<a ui-sref="careerdetail({id:item.Id, title: replaceString(item.Content.Title)})" class="apply-btn" translate>cr_apply</a>
	</div>
	<div class="col-md-12">
		<div class="grey-line"></div>
	</div>
	</div>
</div>
 	</div>
<!-- development -->
 <div id="tab-4" class="tab-content" ng-init="loadData3()">
 	<div class="row" class="tab-content current">
	<div ng-repeat="item in careerList3">
	<div class="col-md-6">
		<p class="cr-text-14" style="display: inline-block;" translate>{{item.Content.Title}}</p><br>
		<p class="cr-text-14" style="display: inline-block;" translate>{{item.City}}</p>
		<div style="display: inline-block;">
			<span ng-if="item.Type == 0">/ Full-time</span>
			<span ng-if="item.Type == 1">/ Part-time</span>
		</div>
		<p class="cr-text-14" style="display: inline-block;" translate> / ${{item.SalaryMin}}</p>

	</div>
	<div class="col-md-6">
		<a ui-sref="careerdetail({id:item.Id, title: replaceString(item.Content.Title)})" class="apply-btn" translate>cr_apply</a>
	</div>
	<div class="col-md-12">
		<div class="grey-line"></div>
	</div>
	</div>
</div>
 	</div>

<!-- management -->
<div id="tab-5" class="tab-content" ng-init="loadData4()">
 	<div class="row" class="tab-content current">
	<div ng-repeat="item in careerList4">
	<div class="col-md-6">
		<p class="cr-text-14" style="display: inline-block;" translate>{{item.Content.Title}}</p><br>
		<p class="cr-text-14" style="display: inline-block;" translate>{{item.City}}</p>
		<div style="display: inline-block;">
			<span ng-if="item.Type == 0">/ Full-time</span>
			<span ng-if="item.Type == 1">/ Part-time</span>
		</div>
		<p class="cr-text-14" style="display: inline-block;" translate> / ${{item.SalaryMin}}</p>

	</div>
	<div class="col-md-6">
		<a ui-sref="careerdetail({id:item.Id, title: replaceString(item.Content.Title)})" class="apply-btn" translate>cr_apply</a>
	</div>
	<div class="col-md-12">
		<div class="grey-line"></div>
	</div>
	</div>
</div>
 	</div>

<!-- developer -->

<div id="tab-6" class="tab-content" ng-init="loadData5()">
 	<div class="row" class="tab-content current">
	<div ng-repeat="item in careerList5">
	<div class="col-md-6">
		<p class="cr-text-14" style="display: inline-block;" translate>{{item.Content.Title}}</p><br>
		<p class="cr-text-14" style="display: inline-block;" translate>{{item.City}}</p>
		<div style="display: inline-block;">
			<span ng-if="item.Type == 0">/ Full-time</span>
			<span ng-if="item.Type == 1">/ Part-time</span>
		</div>
		<p class="cr-text-14" style="display: inline-block;" translate> / ${{item.SalaryMin}}</p>

	</div>
	<div class="col-md-6">
		<a ui-sref="careerdetail({id:item.Id, title: replaceString(item.Content.Title)})" class="apply-btn" translate>cr_apply</a>
	</div>
	<div class="col-md-12">
		<div class="grey-line"></div>
	</div>
	</div>
</div>
 	</div>

</div>
</div>
</div>
</div>
<script>
    $(document).ready(function(){
	
        $('ul.tabs li').click(function(){
            var tab_id = $(this).attr('data-tab');

            $('ul.tabs li').removeClass('current');
            $('.tab-content').removeClass('current');

            $(this).addClass('current');
            $("#"+tab_id).addClass('current');
        });
})
</script>