<div class="box-technology"></div>
<!-- <div class="container" style="margin-bottom: 70px;">
	<p class="ab-text-28-1	" style="margin-bottom: 10px; margin-top: 30px;" translate>he_tenant</p>
	<p class="he-text-26" translate>he_getting</p>
	<p class="he-text-26" translate>he_step</p>
	<p class="service-text-22" style="font-weight: 450;" translate>he_step1</p>
	<div class="box-img">
		<img class="box-img-1" ng-if="currentLanguage == 'en'" src="Images/tenant-help-1-en.PNG">
        <img class="box-img-1" ng-if="currentLanguage == 'jp'" src="Images/tenant-help-1-jp.PNG">
        <img class="box-img-1" ng-if="currentLanguage == 'vi'" src="Images/tenant-help-1-vn.PNG">
	</div>
	<div class="row" style="margin-top: 30px;margin-bottom: 30px;">
		<div class="col-md-8 col-md-offset-2">
			<p class="service-text-20" translate>he_search</p>
			<p class="service-text-20" style="margin-left: 10px;" translate>he_hint</p>
			<p class="service-text-20" translate>he_filter</p>
		</div>
	</div>
	<p class="service-text-22" style="font-weight: 450;" translate>he_step2</p>
	<div class="box-img">
		<img class="box-img-1" ng-if="currentLanguage == 'en'" src="Images/tenant-help-2-en.PNG">
        <img class="box-img-1" ng-if="currentLanguage == 'jp'" src="Images/tenant-help-2-jp.PNG">
        <img class="box-img-1" ng-if="currentLanguage == 'vi'" src="Images/tenant-help-2-vn.PNG">
	</div>
	<div class="row" style="margin-top: 30px;margin-bottom: 30px;">
		<div class="col-md-8 col-md-offset-2">
			<p class="service-text-20" translate>he_detailed</p>
			<p class="service-text-20" style="margin-left: 7px;" translate>he_note</p>
		</div>
	</div>
	<p class="service-text-22" style="font-weight: 450;" translate>he_step3</p>
	<div>
		<img class="box-img-small" ng-if="currentLanguage == 'en'" src="Images/tenant-help-3-en.PNG">
        <img class="box-img-small" ng-if="currentLanguage == 'jp'" src="Images/tenant-help-3-jp.PNG">
        <img class="box-img-small" ng-if="currentLanguage == 'vi'" src="Images/tenant-help-3-vn.PNG">
	</div>
	<div class="row" style="margin-top: 50px;margin-bottom: 30px;">
		<div class="col-md-8 col-md-offset-2">
			<p class="service-text-20" translate>he_select</p>
			<p class="service-text-20" translate>he_laundry</p>
			<p class="service-text-20" translate>he_bottled</p>
			<p class="service-text-20" translate>he_taxes</p>
		</div>
	</div>
	<p class="service-text-22" style="font-weight: 450;" translate>he_step4</p>
	<div class="box-img">
		<img class="box-img-1" ng-if="currentLanguage == 'en'" src="Images/tenant-help-4-en.PNG">
        <img class="box-img-1" ng-if="currentLanguage == 'jp'" src="Images/tenant-help-4-jp.PNG">
        <img class="box-img-1" ng-if="currentLanguage == 'vi'" src="Images/tenant-help-4-vn.PNG">
	</div>
	<div class="row" style="margin-top: 50px;margin-bottom: 30px;">
		<div class="col-md-8 col-md-offset-2">
			<p class="service-text-20" translate>he_edit</p>
		</div>
	</div>
	<p class="service-text-22" style="font-weight: 450;" translate>he_step5</p>
	<div class="box-img">
		<img class="box-img-1" ng-if="currentLanguage == 'en'" src="Images/tenant-help-5-en.PNG">
        <img class="box-img-1" ng-if="currentLanguage == 'jp'" src="Images/tenant-help-5-jp.PNG">
        <img class="box-img-1" ng-if="currentLanguage == 'vi'" src="Images/tenant-help-5-vn.PNG">
	</div>
	<div class="row" style="margin-top: 50px;margin-bottom: 30px;">
		<div class="col-md-8 col-md-offset-2">
			<p class="service-text-20" translate>he_you</p>
		</div>
	</div>
	<p class="service-text-22" style="font-weight: 450;" translate>he_step6</p>
	<div class="box-img">
		<img class="box-img-1" src="Images/Capture.PNG">
	</div>
	<div class="row" style="margin-top: 50px;margin-bottom: 30px;">
		<div class="col-md-8 col-md-offset-2">
			<p class="service-text-20" translate>he_request</p>
		</div>
	</div>




</div> -->


<div class="container p-class" style=" margin-top: 70px;">
<span class="ab-text-28-1" translate>he_tenant</span><br>
	<!-- <p class="he-text-26" translate>he_getting</p>
	<p class="he-text-26" translate>he_step</p> -->
<div class="row" style="margin-top: 40px;">
	<div class="col-md-offset-1 col-md-5">
		<img class="box-img-1" ng-if="currentLanguage == 'en'" src="Images/tenant-help-1-en.PNG">
        <img class="box-img-1" ng-if="currentLanguage == 'jp'" src="Images/tenant-help-1-jp.PNG">
        <img class="box-img-1" ng-if="currentLanguage == 'vi'" src="Images/tenant-help-1-vn.PNG">
	</div>
	<div class="col-md-5">
		<div class="align-left" data-step="1">
  			<h3 translate="">he_step1</h3>
  			<p translate="">he_search</p>
  			<p translate="">he_hint</p>
  			<p translate="">he_filter</p>
  		</div>
	</div>
</div>
<div class="step-line"><span></span></div>
</div>

<div class="container p-class">

<div class="row">
	<div class="col-md-offset-1 col-md-5">
		<div class="align-right" data-step="2">
  			<h3 style="text-align: right;" translate="">he_step2</h3>
  			<p style="text-align: right;" translate="">he_detailed</p>
  			<p style="text-align: right;" translate="">he_note</p>
  		</div>
	</div>
	<div class="col-md-5" style="text-align: left;">
		<img class="box-img-1" ng-if="currentLanguage == 'en'" src="Images/tenant-help-2-en.PNG">
        <img class="box-img-1" ng-if="currentLanguage == 'jp'" src="Images/tenant-help-2-jp.PNG">
        <img class="box-img-1" ng-if="currentLanguage == 'vi'" src="Images/tenant-help-2-vn.PNG">
	</div>
</div>
<div class="step-line inverse"><span></span></div>
</div>

<div class="container p-class">

<div class="row">
	<div class="col-md-offset-1 col-md-5">
		<img class="box-img-1" ng-if="currentLanguage == 'en'" src="Images/tenant-help-3-en.PNG" style="width: 190px;margin-left: 190px;">
        <img class="box-img-1" ng-if="currentLanguage == 'jp'" src="Images/tenant-help-3-jp.PNG"style="width: 190px;margin-left: 190px;">
        <img class="box-img-1" ng-if="currentLanguage == 'vi'" src="Images/tenant-help-3-vn.PNG"style="width: 190px;margin-left: 190px;">
	</div>
	<div class="col-md-5">
		<div class="align-left" data-step="3">
  			<h3 translate="">he_step3</h3>
  			<p translate="">he_select</p>
  			<p translate="">he_laundry</p>
  			<p translate="">he_bottled</p>
  			<p translate="">he_taxes</p>
  		</div>
	</div>
</div>
<div class="step-line"><span></span></div>
</div>

<div class="container p-class">

<div class="row">
	<div class="col-md-offset-1 col-md-5">
		<div class="align-right" data-step="4">
  			<h3 style="text-align: right;" translate="">he_step4</h3>
  			<p style="text-align: right;" translate="">he_edit</p>
  		</div>
	</div>
	<div class="col-md-5" style="text-align: left;">
		<img class="box-img-1" ng-if="currentLanguage == 'en'" src="Images/tenant-help-4-en.PNG">
        <img class="box-img-1" ng-if="currentLanguage == 'jp'" src="Images/tenant-help-4-jp.PNG">
        <img class="box-img-1" ng-if="currentLanguage == 'vi'" src="Images/tenant-help-4-vn.PNG">
	</div>
</div>
<div class="step-line inverse"><span></span></div>
</div>

<div class="container p-class">

<div class="row">
	<div class="col-md-offset-1 col-md-5">
		<img class="box-img-1" ng-if="currentLanguage == 'en'" src="Images/tenant-help-5-en.PNG">
        <img class="box-img-1" ng-if="currentLanguage == 'jp'" src="Images/tenant-help-5-jp.PNG">
        <img class="box-img-1" ng-if="currentLanguage == 'vi'" src="Images/tenant-help-5-vn.PNG">
	</div>
	<div class="col-md-5">
		<div class="align-left" data-step="5">
  			<h3 translate="">he_step5</h3>
  			<p translate="">he_you</p>
  		</div>
	</div>
</div>
<div class="step-line"><span></span></div>
</div>

<div class="container p-class" style="margin-bottom: 70px; ">

<div class="row">
	<div class="col-md-offset-1 col-md-5">
		<div class="align-right" data-step="6">
  			<h3 style="text-align: right;" translate="">he_step6</h3>
  			<p style="text-align: right;" translate="">he_request</p>
  		</div>
	</div>
	<div class="col-md-5" style="text-align: left;">
		<img class="box-img-1" src="Images/Capture.PNG">
	</div>
</div>
</div>