<div class="box-technology"></div>
<!-- <div class="container" style="margin-bottom: 70px;">
	<p class="ab-text-28-1	" style="margin-bottom: 10px; margin-top: 30px;" translate>he_host</p>
	<p class="he-text-26" translate>he_gettingstart</p>
	<p class="he-text-26" translate>he_step</p>
	<p class="service-text-22" style="font-weight: 450;" translate>he_step11</p>
	<div class="box-img">
		<img class="box-img-1" ng-if="currentLanguage == 'en'" src="Images/host-help-1-en.PNG">
        <img class="box-img-1" ng-if="currentLanguage == 'jp'" src="Images/host-help-1-jp.PNG">
        <img class="box-img-1" ng-if="currentLanguage == 'vi'" src="Images/host-help-1-vn.PNG">
	</div>
	<p class="service-text-20" style="margin-left: 30px; margin-top: 15px;" translate>he_enter</p>
	<p class="service-text-22" style="font-weight: 450;margin-top: 30px;" translate>he_step12</p>
	<p class="service-text-20" style="margin-left: 30px; margin-top: 15px;" translate>he_click</p>
	<div class="mini-img">
		<img class="box-img-2" ng-if="currentLanguage == 'en'" src="Images/host-help-2-en.PNG">
        <img class="box-img-2" ng-if="currentLanguage == 'jp'" src="Images/host-help-2-jp.PNG">
        <img class="box-img-2" ng-if="currentLanguage == 'vi'" src="Images/host-help-2-vn.PNG">
	</div>
	<p class="service-text-20" style="margin-left: 30px; margin-top: 15px;" translate>he_add</p>
	<div class="medium-img">
		<img class="box-img-3" ng-if="currentLanguage == 'en'" src="Images/host-help-3-en.PNG">
        <img class="box-img-3" ng-if="currentLanguage == 'jp'" src="Images/host-help-3-jp.PNG">
        <img class="box-img-3" ng-if="currentLanguage == 'vi'" src="Images/host-help-3-vn.PNG">
	</div>
	<div class="box-img-4">
		<img class="box-img-1" ng-if="currentLanguage == 'en'" src="Images/host-help-4-en.PNG">
        <img class="box-img-1" ng-if="currentLanguage == 'jp'" src="Images/host-help-4-jp.PNG">
        <img class="box-img-1" ng-if="currentLanguage == 'vi'" src="Images/host-help-4-vn.PNG">
	</div>
	<p class="service-text-20" style="margin-left: 30px; margin-top: 15px;" translate>he_upload</p>
	<div class="box-img-4">
		<img class="box-img-1" ng-if="currentLanguage == 'en'" src="Images/host-help-5-en.PNG">
        <img class="box-img-1" ng-if="currentLanguage == 'jp'" src="Images/host-help-5-jp.PNG">
        <img class="box-img-1" ng-if="currentLanguage == 'vi'" src="Images/host-help-5-vn.PNG">
	</div>
	<p class="service-text-20" style="margin-left: 30px; margin-top: 15px;" translate>he_set</p>
	<div class="box-img-4">
		<img class="box-img-1" ng-if="currentLanguage == 'en'" src="Images/host-help-6-en.PNG">
        <img class="box-img-1" ng-if="currentLanguage == 'jp'" src="Images/host-help-6-jp.PNG">
        <img class="box-img-1" ng-if="currentLanguage == 'vi'" src="Images/host-help-6-vn.PNG">
	</div>
	<div class="row" style="margin-top: 30px;margin-bottom: 30px;">
		<div class="col-md-8 col-md-offset-2">
			<p class="service-text-20" translate>he_suggestion</p>
			<p class="service-text-20" translate>he_apartment</p>
		</div>
	</div>
	<p class="service-text-20" style="margin-left: 30px; margin-top: 15px;" translate>he_choose</p>
	<div class="box-img-4">
		<img class="box-img-1" ng-if="currentLanguage == 'en'" src="Images/host-help-7-en.PNG">
        <img class="box-img-1" ng-if="currentLanguage == 'jp'" src="Images/host-help-7-jp.PNG">
        <img class="box-img-1" ng-if="currentLanguage == 'vi'" src="Images/host-help-7-vn.PNG">
	</div>
	<div class="row" style="margin-top: 30px;margin-bottom: 30px;">
		<div class="col-md-8 col-md-offset-2">
			<p class="service-text-20" translate>he_thelisting</p>
			<p class="service-text-20" style="margin-left: 7px;" translate>he_not</p>
		</div>
	</div>
	<p class="service-text-20" style="margin-left: 30px; margin-top: 15px;" translate>he_verify</p>
	<div class="large-img">
		<img class="box-img-5" ng-if="currentLanguage == 'en'" src="Images/host-help-8-en.PNG">
        <img class="box-img-5" ng-if="currentLanguage == 'jp'" src="Images/host-help-8-jp.PNG">
        <img class="box-img-5" ng-if="currentLanguage == 'vi'" src="Images/host-help-8-vn.PNG">
	</div>
	<div class="row" style="margin-top: 30px;margin-bottom: 30px;">
		<div class="col-md-8 col-md-offset-2">
			<p class="service-text-20" translate>he_photo</p>
			<p class="service-text-20" style="margin-left: 7px;" translate>he_thefile</p>
		</div>
	</div>
	<p class="service-text-22" style="font-weight: 450;margin-top: 30px;" translate>he_step13</p>
	<p class="service-text-20" style="margin-left: 30px; margin-top: 15px;" translate>he_website</p>
	<div class="box-img">
		<img class="box-img-1" src="Images/Like.PNG">
	</div>
	<p class="service-text-22" style="font-weight: 450;margin-top: 30px;" translate>he_step14</p>
	<div class="box-img">
		<img class="box-img-1" ng-if="currentLanguage == 'en'" src="Images/host-help-9-en.PNG">
        <img class="box-img-1" ng-if="currentLanguage == 'jp'" src="Images/host-help-9-jp.PNG">
        <img class="box-img-1" ng-if="currentLanguage == 'vi'" src="Images/host-help-9-vn.PNG">
	</div>
	<p class="service-text-20" style="margin-left: 30px; margin-top: 15px;" translate>he_manage</p>
	<p class="service-text-20" style="margin-left: 30px; margin-top: 15px;" translate>he_editthe</p>
	<p class="service-text-20" style="margin-left: 30px; margin-top: 15px;" translate>he_department</p> -->

<!-- </div> -->

<!-- <div class="step-line"><span></span></div>

<div class="step-line inverse"><span></span></div> -->

<div id="help">
<div class="container p-class" style="margin-top: 70px;">
<span class="ab-text-28-1" translate>he_host</span><br>
	<!-- <p class="he-text-26" translate>he_gettingstart</p>
	<p class="he-text-26" translate>he_step</p> -->
<div class="row" style="margin-top: 40px;">
	<div class="col-md-offset-1 col-md-5">
		<img class="box-img-1" ng-if="currentLanguage == 'en'" src="Images/host-help-1-en.PNG">
        <img class="box-img-1" ng-if="currentLanguage == 'jp'" src="Images/host-help-1-jp.PNG">
        <img class="box-img-1" ng-if="currentLanguage == 'vi'" src="Images/host-help-1-vn.PNG">
	</div>
	<div class="col-md-5">
		<div class="align-left" data-step="1">
  			<h3 translate="">he_step11</h3>
  			<p translate="">he_enter</p>
  		</div>
	</div>
</div>
<div class="step-line"><span></span></div>
</div>


<div class="container p-class">

<div class="row">
	<div class="col-md-offset-1 col-md-5">
		<div class="align-right" data-step="2">
  			<h3 style="text-align: right;" translate="">he_step12</h3>
  			<p style="text-align: right;" translate="">he_click</p>
  		</div>
	</div>
	<div class="col-md-5" style="text-align: left;">
		<img class="box-img-1" ng-if="currentLanguage == 'en'" src="Images/host-help-2-en.PNG">
        <img class="box-img-1" ng-if="currentLanguage == 'jp'" src="Images/host-help-2-jp.PNG">
        <img class="box-img-1" ng-if="currentLanguage == 'vi'" src="Images/host-help-2-vn.PNG">
	</div>
</div>
<div class="step-line inverse"><span></span></div>
</div>

<div class="container p-class">

<div class="row">
	<div class="col-md-offset-1 col-md-5">
		<img class="box-img-1" ng-if="currentLanguage == 'en'" src="Images/host-help-3-en.PNG">
        <img class="box-img-1" ng-if="currentLanguage == 'jp'" src="Images/host-help-3-jp.PNG">
        <img class="box-img-1" ng-if="currentLanguage == 'vi'" src="Images/host-help-3-vn.PNG">
        <img class="box-img-1" style="margin-top: 30px;" ng-if="currentLanguage == 'en'" src="Images/host-help-4-en.PNG">
        <img class="box-img-1" style="margin-top: 30px;" ng-if="currentLanguage == 'jp'" src="Images/host-help-4-jp.PNG">
        <img class="box-img-1" style="margin-top: 30px;" ng-if="currentLanguage == 'vi'" src="Images/host-help-4-vn.PNG">
	</div>
	<div class="col-md-5">
		<div class="align-left">
  			<p translate="">he_add</p>
  		</div>
	</div>
</div>
<div class="step-line"><span></span></div>
</div>

<div class="container p-class">

<div class="row">
	<div class="col-md-offset-1 col-md-5">
		<div class="align-right">
  			<p style="text-align: right;" translate="">he_upload</p>
  		</div>
	</div>
	<div class="col-md-5" style="text-align: left;">
		<img class="box-img-1" ng-if="currentLanguage == 'en'" src="Images/host-help-5-en.PNG">
        <img class="box-img-1" ng-if="currentLanguage == 'jp'" src="Images/host-help-5-jp.PNG">
        <img class="box-img-1" ng-if="currentLanguage == 'vi'" src="Images/host-help-5-vn.PNG">
	</div>
</div>
<div class="step-line inverse"><span></span></div>
</div>

<div class="container p-class">

<div class="row">
	<div class="col-md-offset-1 col-md-5">
		<img class="box-img-1" ng-if="currentLanguage == 'en'" src="Images/host-help-6-en.PNG">
        <img class="box-img-1" ng-if="currentLanguage == 'jp'" src="Images/host-help-6-jp.PNG">
        <img class="box-img-1" ng-if="currentLanguage == 'vi'" src="Images/host-help-6-vn.PNG">
	</div>
	<div class="col-md-5">
		<div class="align-left">
  			<p translate="">he_set</p>
  			<p translate="">he_suggestion</p>
  			<p translate="">he_apartment</p>
  		</div>
	</div>
</div>
<div class="step-line"><span></span></div>
</div>

<div class="container p-class" >

<div class="row">
	<div class="col-md-offset-1 col-md-5">
		<div class="align-right">
  			<p style="text-align: right;" translate="">he_choose</p>
  			<p style="text-align: right;" translate="">he_thelisting</p>
  			<p style="text-align: right;" translate="">he_not</p>
  		</div>
	</div>
	<div class="col-md-5" style="text-align: left;">
		<img class="box-img-1" ng-if="currentLanguage == 'en'" src="Images/host-help-7-en.PNG">
        <img class="box-img-1" ng-if="currentLanguage == 'jp'" src="Images/host-help-7-jp.PNG">
        <img class="box-img-1" ng-if="currentLanguage == 'vi'" src="Images/host-help-7-vn.PNG">
	</div>
</div>
<div class="step-line inverse"><span></span></div>
</div>

<div class="container p-class" >

<div class="row">
	<div class="col-md-offset-1 col-md-5">
		<img class="box-img-1" ng-if="currentLanguage == 'en'" src="Images/host-help-8-en.PNG">
        <img class="box-img-1" ng-if="currentLanguage == 'jp'" src="Images/host-help-8-jp.PNG">
        <img class="box-img-1" ng-if="currentLanguage == 'vi'" src="Images/host-help-8-vn.PNG">
	</div>
	<div class="col-md-5">
		<div class="align-left">
  			<p translate="">he_verify</p>
  			<p translate="">he_photo</p>
  			<p translate="">he_thefile</p>
  		</div>
	</div>
</div>
<div class="step-line"><span></span></div>
</div>


<div class="container p-class" >

<div class="row">
	<div class="col-md-offset-1 col-md-5">
		<div class="align-right" data-step="3">
  			<h3 style="text-align: right;" translate="">he_step13</h3>
  			<p style="text-align: right;" translate="">he_website</p>
  		</div>
	</div>
	<div class="col-md-5" style="text-align: left;">
		<img class="box-img-1" src="Images/Like.PNG">
	</div>
</div>
<div class="step-line inverse"><span></span></div>
</div>

<div class="container p-class" style="margin-bottom: 70px; ">

<div class="row">
	<div class="col-md-offset-1 col-md-5">
		<img class="box-img-1" ng-if="currentLanguage == 'en'" src="Images/host-help-9-en.PNG">
        <img class="box-img-1" ng-if="currentLanguage == 'jp'" src="Images/host-help-9-jp.PNG">
        <img class="box-img-1" ng-if="currentLanguage == 'vi'" src="Images/host-help-9-vn.PNG">
	</div>
	<div class="col-md-5">
		<div class="align-left" data-step="4">
  			<h3 translate="">he_step14</h3>
  			<p translate="">he_manage</p>
  			<p translate="">he_editthe</p>
  			<p translate="">he_department</p>
  		</div>
	</div>
</div>
</div>
</div>