<div ng-controller="HomeCtrl" ng-init="loadData()">
    <div class="body-content">
        <div>
            <div class="container-fluid search-bar-section">
                <img src="{{slideImg}}" class="background-img" alt="Alternate Text" />
                <div style="position: absolute; top: 0;width: 100%">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2 search-bar">
                                <div class="large-text-search-bar">
                                    <p>Property Plus</p>
                                    <p translate>search_bar_livingHaNoi</p>
                                </div>
                                <form class="search-box box-shadow" ng-submit="submitSearch()">
                                    <input type="text" name="search" ng-model="searchWithFilter.Search" placeholder="{{'placeholder_search_home'|translate}}" value="" />
                                    <button class="btn-search box-shadow" type="submit" translate>blog_search</button>
                                </form>
                                <div class="list-btn-facilities">
                                    <div class="group-btn-facility">
                                        <button class="box-shadow btn-facilities has-filter" target-filter="#price-filter"><span translate>search_bar_price </span><i class="fas fa-chevron-right"></i>
                                        </button>
                                        <div class="card-filter" id="price-filter">
                                            <span class="inline" style="color: #464878;" translate>price_range</span>
                                            <div class="block-rzslider">
                                                <rzslider
                                                  data-rz-slider-model="priceSlider.minValue"
                                                  data-rz-slider-high="priceSlider.maxValue"
                                                  data-rz-slider-options="priceSlider.options"
                                                ></rzslider>
                                                <div class="min-bubble">$ {{priceSlider.minValue}}</div>
                                                <div class="max-bubble">$ {{priceSlider.maxValue}}</div>
                                            </div>
                                            <button ng-click="clearPrice()" type="button" class="float-right btn-apply" translate>clear</button>
                                        </div>

                                    </div>
                                    <div class="group-btn-facility">
                                        <button class="box-shadow btn-facilities has-filter" target-filter="#room-filter"><span translate>search_bar_room </span><i class="fas fa-chevron-right"></i>
                                        </button>
                                        <div class="card-filter" id="room-filter">
                                            <span class="inline" style="color: #464878;" translate>rooms</span>
                                            <div class="bedrooms-line">
                                                <i class="fas fa-bed float-left"></i><span style="margin-left: 20px" class="float-left" translate>bedrooms</span>
                                                <div class="float-right group-btn-service">
                                                    <button class="minus" ng-click="bedroom = bedroom - 1" ng-disabled="bedroom == 0">-</button>
                                                    <button class="plus" ng-click="bedroom = bedroom + 1" ng-disabled="bedroom == 6">+</button>
                                                </div>
                                                <span class="float-right quantity">{{bedroom}}</span>
                                            </div>
                                            <div class="bedrooms-line">
                                                <i class="fas fa-bath float-left"></i><span style="margin-left: 20px" class="float-left" translate>bathrooms</span>
                                                <div class="float-right group-btn-service">
                                                    <button class="minus" ng-click="bathroom = bathroom - 1" ng-disabled="bathroom == 0">-</button>
                                                    <button class="plus" ng-click="bathroom = bathroom + 1" ng-disabled="bathroom == 6">+</button>
                                                </div>
                                                <span class="float-right quantity">{{bathroom}}</span>
                                            </div>
                                            <button ng-click="clearRoom()" type="button" class="float-right btn-apply" translate>clear</button>
                                        </div>
                                    </div>
                                    <div class="group-btn-facility">
                                        <button class="box-shadow btn-facilities has-filter" target-filter="#area-filter"><span translate>search_bar_area </span><i class="fas fa-chevron-right"></i>
                                        </button>
                                        <div class="card-filter" id="area-filter">
                                            <span class="inline" style="color: #464878;" translate>area</span>
                                            <div class="block-rzslider">
                                                <rzslider
                                                  data-rz-slider-model="areaSlider.minValue"
                                                  data-rz-slider-high="areaSlider.maxValue"
                                                  data-rz-slider-options="areaSlider.options"
                                                ></rzslider>
                                                <div class="min-bubble">{{areaSlider.minValue}} m<sup>2</sup></div>
                                                <div class="max-bubble">{{areaSlider.maxValue}} m<sup>2</sup></div>
                                            </div>
                                            <button ng-click="clearArea()" type="button" class="float-right btn-apply" translate>clear</button>
                                        </div>
                                    </div>
                                    <div class="group-btn-facility">
                                        <button class="box-shadow btn-facilities has-filter" target-filter="#facility-filter"><span translate>search_bar_facilities </span><i class="fas fa-chevron-right"></i>
                                        </button>
                                        <div class="card-filter" id="facility-filter">
                                            <span class="inline" style="color: #464878;" translate>facilities</span>
                                            <div class="list-facility-filter">
                                                <div ng-repeat="facility in listFacility track by $index" class="facility-line">
                                                    <label class="material-checkbox">
                                                        <input type="checkbox" ng-model="facility.Status">
                                                        <span></span>
                                                    </label>
                                                    <span>{{facility.Content.Name}}</span>
                                                </div>
                                            </div>
                                            <button ng-click="clearFacility()" type="button" class="btn-apply" translate>clear</button>
                                        </div>

                                    </div>
                                    
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="main-homepage container">
                <div class="row">
                    <div class="col-xs-12 introducing">
                        <div class="homepage-title-section" >
                            {{"menu_about_us" | translate}}
                        </div>
                        <div style="margin-top: 30px;font-size: 19px" >
                            <span ng-bind-html="'content_about_us' | translate"></span>
                        </div>
                    </div>

                    <div class="col-xs-12 project-have-service">
                        <div class="homepage-title-section">
                            <span translate="">project_have_our_service</span>
                        </div>
                        <div class="list-project">
                            <div class="row">
                                <div class="col-sm-4 col-md-4 project" ng-repeat="project in listProject">
                                    <div class="project-thumbnail">
                                        <a style="display: block;height: 100%;width: 100%;" ui-sref="projectdetail({id: project.Id,name: replaceString(project.Content.Name)})"><img class="box-shadow" style="width:100%;height:100%;" src="/Upload/{{project.Img}}" alt="Alternate Text" /></a>
                                    </div>
                                    <div class="text-center project-name">
                                        {{project.Content.Name}}
                                    </div>
                                </div>
                                <!--<div class="col-sm-4 col-md-4 project">
                                    <div class="project-thumbnail box-shadow">
                                        <img class=" box-shadow" style="width:100%;height:100%;" src="Images/img-demo.png" alt="Alternate Text" />
                                    </div>
                                    <div class="text-center project-name">
                                        Project Name
                                    </div>
                                </div>

                                <div class="col-sm-4 col-md-4 project">
                                    <div class="project-thumbnail box-shadow">
                                        <img class=" box-shadow" style="width:100%;height:100%;" src="Images/img-demo.png" alt="Alternate Text" />
                                    </div>
                                    <div class="text-center project-name">
                                        Project Name
                                    </div>
                                </div>-->

                            </div>

                        </div>
                        <div class="btn-explore-all">
                            <div class="row">
                                <div class="col-md-4 col-md-offset-4 col-xs-8 col-xs-offset-2">
                                    <a ui-sref="project" class="box-shadow" translate>explore_all</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 sevice-rating">
                        <div class="homepage-title-section">
                            {{"see_how_our_service_is_best"|translate}}
                           <!--  <p class="small-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut </p> -->
                        </div>
                        <div class="content-service-rating">
                            <div class="list-service-rating col-xs-12">
                                <div class="list-service-rating-main box-shadow col-md-10 col-md-offset-1">
                                    <div class="row">
                                        <div class="col-md-10 col-md-offset-1">
                                            <div class="row">
                                                <div class="col-md-3 col-xs-3 service">
                                                    <div class="icon-service-rating ">
                                                        <img width="81.25" height="81.25" class="img-responsive" src="/Images/icon/Standard-quality.svg" />
                                                    </div>
                                                    <div class="title-service-rating" >
                                                        <span translate="">standard_quality</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-3 col-xs-3 service">
                                                    <div class="icon-service-rating ">
                                                        <img width="81.25" height="81.25" class="img-responsive" src="/Images/icon/Fast-service.svg" />
                                                    </div>
                                                    <div class="title-service-rating" >
                                                        <span translate="">fast_service</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-3 col-xs-3 service">
                                                    <div class="icon-service-rating ">
                                                        <img width="81.25" height="81.25" class="img-responsive" src="/Images/icon/Call-center.svg" />
                                                    </div>
                                                    <div class="title-service-rating" >
                                                        <span translate="">call_center</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-3 col-xs-3 service">
                                                    <div class="icon-service-rating ">
                                                        <img style="height: 81.25px;display: block" class="img-responsive" src="/Images/icon/Translation.svg" />
                                                    </div>
                                                    <div class="title-service-rating">
                                                        <div class="row" >
                                                            <span translate="">multi_language_support</span>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="sevice-rating-content">
                                <div class="box-shadow section1">
                                    <img ng-src="{{slideService}}" class="background-img" alt="Alternate Text" />
                                    <a ui-sref="ourservice" class="btn box-shadow btn-service-rating" translate>explore_all_service</a>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-xs-12 sevice-rating">
                        <div class="homepage-title-section">
                            {{"our_technology"|translate}}
                           <!--  <p class="small-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut </p> -->
                        </div>
                        <div class="content-service-rating">
                            <div class="list-service-rating col-xs-12">
                                <div class="list-service-rating-main box-shadow col-md-10 col-md-offset-1">
                                    <div class="row">
                                        <div class="col-md-10 col-md-offset-1">
                                            <div class="row">
                                                <div class="col-md-3 col-xs-3 service">
                                                    <div class="icon-service-rating ">
                                                        <img class="img-responsive" src="/Images/icon/Apartment-searching-platform.svg" />
                                                    </div>
                                                    <div class="title-service-rating" >
                                                        <span translate="">apartment_searching_platform</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-3 col-xs-3 service">
                                                    <div class="icon-service-rating ">
                                                        <img class="img-responsive" src="/Images/icon/Multi-party-communication.svg" />
                                                    </div>
                                                    <div class="title-service-rating" >
                                                        <span translate="">mutil_party_communication_system</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-3 col-xs-3 service">
                                                    <div class="icon-service-rating ">
                                                        <img class="img-responsive" src="/Images/icon/Service-and-management-system.svg" />
                                                    </div>
                                                    <div class="title-service-rating" >
                                                        <span translate="">service_and_management_system</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-3 col-xs-3 service">
                                                    <div class="icon-service-rating ">
                                                        <img class="img-responsive" src="/Images/icon/Customer-relationship.svg" />
                                                    </div>
                                                    <div class="title-service-rating">
                                                        <div class="row" >
                                                            <span translate="">customer_realationship_management_system</span>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="sevice-rating-content">
                                <div class="box-shadow section1">
                                    <img ng-src="{{slideTech}}" class="background-img" alt="Alternate Text" />
                                    <a ui-sref="ourtechnology" class="btn box-shadow btn-service-rating" translate="">explore_our_tech</a>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-xs-12 choose-home">
                        <div class="homepage-title-section">
                            <span translate="">choose_your_new_home</span>
                        </div>
                        <div class="list-choose-home">
                            <div class="row">
                                <div class="col-sm-6 col-lg-3 thumbnail-choose-home clearfix" ng-repeat="apartment in apartmentList">
                                    <a ui-sref="apartmentdetail({id: apartment.Id,name: replaceString(apartment.Name)})" class="slide-choose-home">
                                        <img class="img-full" ng-src="{{apartment.ImgList[0].Img}}" alt="Alternate Text" />
                                    </a>
                                    <div class="choose-home-summary">
                                        <a ui-sref="apartmentdetail({id: apartment.Id,name: replaceString(apartment.Name)})" class="choose-home-code">
                                            {{apartment.Code}}
                                        </a>
                                        <a ui-sref="apartmentdetail({id: apartment.Id,name: replaceString(apartment.Name)})" class="txt-no-warp choose-home-name">
                                            {{apartment.Name}}
                                        </a>
                                        <div class="choose-home-detail float-left">
                                            <p>{{"bedrooms"|translate}}: {{apartment.NoBedRoom}}</p>
                                            <p>{{apartment.City}}</p>
                                        </div>
                                        <div class="choose-home-price float-right">
                                            <span class="text-price-title" translate>{{"estimate_price"|translate}} :</span>
                                            <p class="price">$ <span>{{apartment.Price}}</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="btn-see-more">
                            <div class="row">
                                <div class="col-md-4 col-md-offset-4 col-xs-8 col-xs-offset-2">
                                    <a ui-sref="apartment" class="box-shadow">{{"see_more"|translate}} (+2000)</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-xs-12 homepage-news">
                        <div class="homepage-title-section"><span translate="">menu_blog</span></div>
                        <div class="list-news">
                            <div class="row">
                                <div class="col-md-6 big-news">
                                    <a ui-sref="blogdetail({id:blogList[0].Id, title: replaceString(blogList[0].Content.Title)})" style="display: block" class="big-news-thumbnail box-shadow">
                                        <img style="border-radius: 7px;" class="img-full" ng-src="/Upload/{{blogList[0].Img}}" alt="">
                                    </a>
                                    <a ui-sref="blogdetail({id:blogList[0].Id, title: replaceString(blogList[0].Content.Title)})" style="display: block" class="big-news-title">
                                        {{blogList[0].Content.Title}}
                                    </a>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-xs-6 small-news">
                                            <a ui-sref="blogdetail({id:blogList[1].Id, title: replaceString(blogList[1].Content.Title)})" style="display: block" class="small-news-thumbnail box-shadow">
                                                <img style="border-radius: 7px;" class="img-full" ng-src="/Upload/{{blogList[1].Img}}" alt="">
                                            </a>
                                            <a ui-sref="blogdetail({id:blogList[1].Id, title: replaceString(blogList[1].Content.Title)})" style="display: block" class="small-news-title txt-no-warp">
                                                {{blogList[1].Content.Title }}
                                            </a>
                                        </div>
                                        <div class="col-xs-6 small-news">
                                            <a ui-sref="blogdetail({id:blogList[2].Id, title: replaceString(blogList[2].Content.Title)})" style="display: block" class="small-news-thumbnail box-shadow">
                                                <img style="border-radius: 7px;" class="img-full" ng-src="/Upload/{{blogList[2].Img}}" alt="">
                                            </a>
                                            <a ui-sref="blogdetail({id:blogList[2].Id, title: replaceString(blogList[2].Content.Title)})" style="display: block" class="small-news-title txt-no-warp">
                                                {{blogList[2].Content.Title}}
                                            </a>
                                        </div>
                                        <div class="col-xs-12 list-normal-news">
                                            <ul>
                                                <li><a ui-sref="blogdetail({id:blogList[3].Id, title: replaceString(blogList[3].Content.Title)})" class="txt-no-warp">{{blogList[3].Content.Title}}</a> </li>
                                                <li><a ui-sref="blogdetail({id:blogList[4].Id, title: replaceString(blogList[4].Content.Title)})" class="txt-no-warp">{{blogList[4].Content.Title}}</a></li>
                                                <li><a ui-sref="blogdetail({id:blogList[5].Id, title: replaceString(blogList[5].Content.Title)})" class="txt-no-warp">{{blogList[5].Content.Title}}</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

<script>
    $(document).ready(function () {
       
            var owl = $('.owl-carousel');
            owl.owlCarousel({
                margin: 10,
                autoplay: true,
                autoplayTimeout: 2500,
                autoplayHoverPause: true,
                loop: true,
                items: 1,
                nav: true,
                animateOut: 'fadeOut'
            });
        

    })
</script>