<div class="content-listing-step" ng-init="loadStep1_2()">
    <p>Let's us know more about your apartment</p>
    <form name="myForm" class="row">
        <div class="col-md-6">
            <p style="margin-top: 29px">How many total bedroom your property have?</p>
            <div class="choose-bedroom-option input-option row">
                <div class="col-md-3">
                    <select class="select-apartment" ng-model="data.NoBedRoom">
                        <option ng-repeat="option in bedrooms" value="{{option.value}}">{{option.name}}</option>
                    </select>
                </div>
            </div>
            <p style="margin-top: 32px">How many total bathrooms your property have?</p>
            <div class="choose-bedroom-option input-option row">
                <div class="col-md-3">
                    <select class="select-apartment" ng-model="data.NoBathRoom" ng-options="option.value as option.name for option in bathrooms"></select>
                </div>
            </div>
            <p style="margin-top: 32px">How much area of your house</p>
            <div class="choose-bedroom-option input-text row">
                <div class="col-md-3">
                    <input type="number" name="area" ng-model="data.Area" value="" required="" min="0" />
                </div>
                <div class="span">
                    <span>m<sup> 2</sup></span>
                </div>

            </div>
            <div class="messageError">
                <span ng-if="!myForm.area.$valid">Area is required</span>
            </div>
            <p style="">Address</p>
            <div class="choose-bedroom-option input-text row">
                <div class="col-md-9">
                    <input type="text" googleplace ng-model-options="{ debounce: 500 }" details="data" ng-change="changeAddress()" name="address" ng-model="data.Address" required="" />
                </div>
            </div>
            <div class="messageError">
                <span ng-if="!myForm.address.$valid">Address is required</span>
            </div>
            <p style="">Phone</p>
            <div class="choose-bedroom-option input-text row">
                <div class="col-md-9">
                    <input type="text" minlength="8" name="phone" ng-model="data.Phone" required="" />
                </div>
            </div>
            <div class="messageError">
                <span ng-if="!myForm.phone.$valid">Phone is required</span>
            </div>
        </div>
        <div class="col-md-6">
            <p style="margin-top: 29px">Name your apartment ( Optional )</p>
            <div class="choose-bedroom-option input-text row">
                <div class="col-md-12">
                    <input type="text" name="nameApartment" ng-model="data.Name" value="" />
                </div>
            </div>
            <p style="margin-top: 32px">Describe about your apartment ( Optional )</p>
            <div class="choose-bedroom-option input-text row">
                <div class="col-md-12">
                    <textarea type="text" ckeditor="editorOptions" id="describe" name="describe" ng-model="data.Description" value="" />
                </div>
            </div>
        </div>
        <div class="col-md-12 footer-step" ng-click="save()">
            <a ui-sref="host.create.step11" class="float-left btn-back"><i class="fas fa-chevron-left"></i><span>Back</span></a>
            <a class="float-right btn-next" ng-class="(myForm.address.$valid && myForm.area.$valid && statusAddress && myForm.phone.$valid) ? '':'service-basic'" ui-sref="host.create.step13">Next</a>
            <a ui-sref="host.listing"  class="float-right btn-cancel">Cancel</a>
        </div>
    </form>
</div>

<!--<script>
    $(function () {
        createEditor("describe");
    });

    function createEditor(id) {
        CKEDITOR.replace(id,
            {
                //filebrowserImageUploadUrl: '/Admin/UploadImage',
            });
    }
</script>-->