<div class="content-listing-step" ng-init="loadStep3_1()">
    <div class="row">
        <div class="col-md-6">
            <p>Set up  price for your apartment</p>
            <p>Price <i class="fas fa-question-circle"></i></p>
            <div class="choose-bedroom-option input-text text-price-input row">
                <div class="col-md-12">
                    <input type="number" ng-model="data.Price" min="0" value="" />
                    <span>$</span>
                </div>
            </div>
            <p style="margin-top: 33px;">Apartment management free <i class="fas fa-question-circle"></i></p>
            <div class="choose-bedroom-option text-price-input input-text row">
                <div class="col-md-12">
                    <input type="number" value="" min="0" ng-model="data.ManagementFee" />
                    <span>$</span>
                </div>
            </div>
            <div class="footer-step col-md-12" style="padding: 0">
                <a ui-sref="host.create.step2" class="float-left btn-back"><i class="fas fa-chevron-left"></i><span>Back</span></a>
                <a ui-sref="host.create.step4" class="float-right btn-next">Next</a>
                <a ui-sref="host.listing" class="float-right btn-cancel">Cancel</a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-8 float-right">
                    <p>Similiar listing</p>
                    <div class="all-list-apartment scrollbar">
                        <div class="list-apartment-step">
                            <img class="img-apartment" src="/Images/img-demo.png" alt="Alternate Text" />
                            <div class="summary-apartment">
                                <p class="apartment-code">HOUSE P123456</p>
                                <p class="apartment-name">Royal City R2 Apartment Fully Furnished & Marble Floor</p>
                                <div class="description-apartment">
                                    <p class="apartment-facility">Bedrooms: 2</p>
                                    <p class="apartment-address">Dong Da, Hanoi</p>
                                </div>
                                <div class="aparment-price">
                                    <p style="font-size: 8px;margin-bottom: 0">Estimate price :</p>
                                    <p class="price-text">$ 2400</p>
                                </div>
                            </div>
                        </div>
                        <div class="list-apartment-step">
                            <img class="img-apartment" src="/Images/img-demo.png" alt="Alternate Text" />
                            <div class="summary-apartment">
                                <p class="apartment-code">HOUSE P123456</p>
                                <p class="apartment-name">Royal City R2 Apartment Fully Furnished & Marble Floor</p>
                                <div class="description-apartment">
                                    <p class="apartment-facility">Bedrooms: 2</p>
                                    <p class="apartment-address">Dong Da, Hanoi</p>
                                </div>
                                <div class="aparment-price">
                                    <p style="font-size: 8px;margin-bottom: 0">Estimate price :</p>
                                    <p class="price-text">$ 2400</p>
                                </div>
                            </div>
                        </div>
                        <div class="list-apartment-step">
                            <img class="img-apartment" src="/Images/img-demo.png" alt="Alternate Text" />
                            <div class="summary-apartment">
                                <p class="apartment-code">HOUSE P123456</p>
                                <p class="apartment-name">Royal City R2 Apartment Fully Furnished & Marble Floor</p>
                                <div class="description-apartment">
                                    <p class="apartment-facility">Bedrooms: 2</p>
                                    <p class="apartment-address">Dong Da, Hanoi</p>
                                </div>
                                <div class="aparment-price">
                                    <p style="font-size: 8px;margin-bottom: 0">Estimate price :</p>
                                    <p class="price-text">$ 2400</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>