<div class="content-listing-step" ng-init="loadStep1_1()">
    <div class="row">
        
        <p translate="">row_1_step_1_1</p>
        <p style="margin-top: 38.5px" translate="">row_2_step_1_1</p>
        <div class="choose-apartment-option input-option row" style="">
            <div class="col-md-4">
                <select class="select-apartment" ng-model="data.Type" ng-options="option.value as option.name for option in apartments"></select>
            </div>
        </div>
        <p translate="">row_3_step_1_1</p>
        <div class="choose-city-option input-option row">
            <div class="col-md-4">
                <select number-to-string class="select-apartment" ng-model="data.ProjectId">
                    <option value="">None</option>
                    <option ng-repeat="option in projectList" value="{{option.Id}}">{{option.Content.Name}}</option>
                </select>
            </div>

        </div>
        
        <div class="footer-step">
            <a ui-sref="host.create.step12" class="float-left btn-next" translate="">continue</a>
        </div>
    </div>

   
</div>