<div class="content-listing-step" ng-init="loadStep3_2()">
    <div class="row" style="margin-bottom: 20px;">
        <div style="margin-left: 10px; margin-bottom: 20px;" class="col-md-12">
        	<p translate="">row_1_step_3_2</p>
        </div>
        <div class="col-xs-2 m-t-10 nopad text-center" ng-repeat="facility in facilities">
		    <label class="image-checkbox" ng-click="facility.Status = !facility.Status">
		      <img class="img-responsive" ng-src="/Upload/{{facility.Img}}" />
              <span class="text-facilities m-t-5">{{facility.Content.Name}}</span>
		      <input type="checkbox" name="image[]" ng-model="facility.Status" />
		    </label>
		</div>
        <div class="col-md-12 footer-step" style="margin-top: 40px;">
            <a ui-sref="host.create.step31" class="float-left btn-back"><i class="fas fa-chevron-left"></i><span translate="">back</span></a>
            <a class="float-right btn-next" ng-click="saveStep32(facilities)" ui-sref="host.create.step4" translate="">next</a>
            <a ui-sref="host.listing"  class="float-right btn-cancel" translate="">cancel</a>
        </div>
    </div>

   
</div>
<script type="text/javascript">
	
</script>