<div class="col-md-10 body-manager">
    <div class="row manage-info-main">
        <div class="row">
            <div class="col-md-6">
               <div class="row">
                <div class="col-md-6"><p translate class="manage-info-text">host_type</p></div>
                <div class="col-md-6"><select ng-disabled="isDisabled" ng-model="apartmentchoice.Type" class="select-info" number-to-string>
                    <option value="1">Apartment</option>
                </select></div>
            </div>
          </div>
        </div>
        <div class="row manage-info">
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-6"><p translate class="manage-info-text">host_project</p></div>
                <div class="col-md-6"><select ng-disabled="isDisabled" number-to-string  class="select-info"  ng-model="apartmentchoice.ProjectId">
                    <option value="">None</option>
                    <option ng-repeat="item in projectList " value="{{item.Id}}">{{item.Name}}</option>
                    
                </select></div>
            </div>
          </div>
        </div>
        <div class="row manage-info">
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-6">                <p translate class="manage-info-text">host_nobedroom</p>
</div>
                <div class="col-md-6"><input ng-disabled="isDisabled" type="number" min="0" class="select-info-1" name="nobedroom" ng-model="apartmentchoice.NoBedRoom"></div>
</div>
            </div>
        </div>
        <div class="row manage-info">
            <div class="col-md-6">
              <div class="row">
               <div class="col-md-6">  <p translate class="manage-info-text">host_nobathroom</p></div>
              <div class="col-md-6"> <input ng-disabled="isDisabled" type="number" min="0" class="select-info-1"  name="nobathroom" ng-model="apartmentchoice.NoBathRoom"></div>
</div>
            </div>
        </div>
        <div class="row manage-info">
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-6"><p translate class="manage-info-text">host_area</p></div>
                <div class="col-md-6"><input ng-disabled="isDisabled" type="number" min="0" name="area" ng-model="apartmentchoice.Area"  class="manage-info-area" />
                <div class="span">
                    <span>m<sup> 2</sup></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row manage-info">
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-6"><p translate class="manage-info-text">host_address</p></div>
                <div class="col-md-6"><input ng-disabled="isDisabled" type="text" class="manage-info-address" googleplace ng-model-options="{ debounce: 500 }" details="apartmentchoice" ng-change="changeAddress()" name="address"  ng-model="apartmentchoice.Address"/></div>
</div>
            </div>
        </div>

        <button translate type="button" id="linkButton" ng-disabled="isDisabled" ng-click="saveHostManage()" class="manager-describe-btn" style="margin-top: 60px;">host_save</button>
    </div>
    </div>
      <script type="text/javascript">
  $(document).ready(function() {
toastr.options = {
  "closeButton": false,
  "debug": false,
  "newestOnTop": true,
  "progressBar": false,
  "positionClass": "toast-bottom-full-width",
  "preventDuplicates": false,
  "onclick": null,
  "showDuration": "300",
  "hideDuration": "1000",
  "timeOut": "3000",
  "extendedTimeOut": "1000",
  "showEasing": "swing",
  "hideEasing": "linear",
  "showMethod": "fadeIn",
  "hideMethod": "fadeOut"
}
    
    $('#linkButton').click(function() {
       toastr.info('Save success');
    });
  });
  </script>
