<div class="content-listing-step" ng-init="loadStep1_1()">
    <p>Let's us know more about your apartment</p>
    <form name="myForm" class="row">
        <div class="col-md-6">
            <p style="margin-top: 29px">How many total bedroom your property have?</p>
            <div class="choose-bedroom-option input-option row">
                <div class="col-md-3">
                    <select class="select-apartment" ng-model="data.NoBedRoom" ng-options="option.name for option in bedrooms"></select>
                </div>
            </div>
            <p style="margin-top: 32px">How many total bathrooms your property have?</p>
            <div class="choose-bedroom-option input-option row">
                <div class="col-md-3">
                    <select class="select-apartment" ng-model="data.NoBathRoom" ng-options="option.name for option in bathrooms"></select>
                </div>
            </div>
            <p style="margin-top: 32px">How much area of your house</p>
            <div class="choose-bedroom-option input-text row">
                <div class="col-md-3">
                    <input type="number" name="area" ng-model="data.Area" value="" required="" />
                </div>
                <div class="span">
                    <span>m<sup> 2</sup></span>
                </div>

            </div>
            <div class="messageError">
                <span ng-if="!myForm.area.$valid">Area is required</span>
            </div>
            <p style="">Address</p>
            <div class="choose-bedroom-option input-text row">
                <div class="col-md-9">
                    <input type="text" ng-autocomplete ng-model-options="{ debounce: 500 }" ng-change="saveAddress(address)" details="address" name="address" ng-model="address.formattedAddress" required="" />
                </div>
            </div>
           
            <div class="messageError">
                <span ng-if="!myForm.address.$valid">Address is required</span>
            </div>
            
        </div>
        <div class="col-md-6">
            <p style="margin-top: 29px">Name your apartment ( Optional )</p>
            <div class="choose-bedroom-option input-text row">
                <div class="col-md-12">
                    <input type="text" name="nameApartment" ng-model="data.Name" value="" />
                </div>
            </div>
            <p style="margin-top: 32px">Describe about your apartment ( Optional )</p>
            <div class="choose-bedroom-option input-text row">
                <div class="col-md-12">
                    <textarea type="text" name="describe" ng-model="data.Description" value="" />
                </div>
            </div>
        </div>
        <div class="col-md-12 footer-step" ng-click="save()">
            <a ui-sref="host.create.step11" class="float-left btn-back"><i class="fas fa-chevron-left"></i><span>Back</span></a>
            <a class="float-right btn-next" ng-class="(myForm.address.$valid && myForm.area.$valid) ? '':'service-basic'" ui-sref="host.create.step13">Next</a>
            <a ui-sref="host.listing"  class="float-right btn-cancel">Cancel</a>
        </div>
    </form>
</div>