
<div class="col-md-10 body-manager">
    <div style="margin-bottom: 25px;" class="text-manager-describe manager-describe">
        <span>Name</span>
        <input type="text" name="name" ng-disabled="isDisabled" ng-model="apartmentchoice.Name" />
    </div>
<span style="margin-bottom: 20px;">Describe</span>
    <div class="text-manager-describe manager-describe">
        
        <textarea type="text" ng-disabled="isDisabled" ckeditor="editorOptions" id="describe" ng-if="apartmentchoice" ng-model="apartmentchoice.Description"></textarea>
        <textarea type="text" ng-disabled="isDisabled" ckeditor="editorOptions" ng-if="!apartmentchoice" ng-model="description"></textarea>
    </div>

    <button type="button" ng-click="saveHostManage()" class="manager-describe-btn">Save</button>
    </div>