<div class="content-listing-step" ng-init="loadStep4_1()">
    <div class="row step-2-1">
        <div class="col-md-10 col-md-offset-1">
            <p style="margin-top: 0px;" translate="">row_1_step_4_1</p>

            <p translate="">row_2_step_4_1</p>
            <p style="margin-bottom: 0px" translate="">row_3_step_4_1</p>
            <div class="row">
                <div ng-repeat="image in imagesConfirm track by $index" class="col-md-12 img-upload-current drag-drop-img">
                    <i ng-show="imagesConfirm[$index].url" ng-click="imagesConfirm.splice($index, 1)" class="remove-img-btn fas fa-times"></i>
                    <img ng-show="imagesConfirm[$index].url" class="img" ng-src="{{imagesConfirm[$index].url}}" />
                </div>
                <div ng-show="imagesConfirm.length < 5" class="col-md-12 drag-drop-img img-upload-current">
                    <div class="btn-upload">
                        <span class="btn-file">
                            <p> <i class="fas fa-cloud-upload-alt"></i></p>
                            <p translate="">row_4_step_4_1</p>
                            <input type="file" accept="image/*" multiple image="imagesConfirm" length-file="5" upload-img="uploadImg"
                                   resize-max-height="300"
                                   resize-max-width="250"
                                   resize-quality="0.7" />
                        </span>
                    </div>
                </div>
                <div class="footer-step col-md-12">
                    <a ui-sref="host.create.step32" class="float-left btn-back"><i class="fas fa-chevron-left"></i><span translate="">back</span></a>
                    <a href="#" ng-click="submitAll(imagesConfirm)" ng-class="disableFinish ? 'service-basic':''" class="float-right btn-next" translate="">finish</a>
                    <a ui-sref="host.listing" class="float-right btn-cancel" translate="">cancel</a>
                </div>
            </div>
        </div>

    </div>



</div>