<div class="col-md-10 body-manager-photo" ng-init="loadPhoto()">
    <div style="margin-bottom: -130px;" class="content-listing-step">
        <div class="row step-2-1">
            <div class="col-md-10 col-md-offset-1">
                <p>Thumbnail photo - banner photo</p>
                <p style="margin-top: 10px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <div class="row">
                        <div class="col-md-12 img-upload-current">
                            <i ng-click="banner_img.splice(0, 1)" ng-show="banner_img[0].url || banner_img[0].Img" class="remove-img-btn fas fa-times"></i>
                            <img ng-show="banner_img[0].url" class="img" ng-src="{{banner_img[0].url}}" alt="Alternate Text" />
                            <img ng-show="banner_img[0].Img" class="img" ng-src="{{banner_img[0].Img}}" alt="Alternate Text" />
                            <div class="btn-upload" ng-class="(banner_img[0].url || banner_img[0].Img) ? 'opacityZero':''">
                                <span class="btn-file">
                                    <p> <i class="fas fa-plus"></i></p>
                                    <p translate>host_addbannerimage</p>
                                    <input ng-disabled="isDisabled" accept="image/*" image="banner_img[0]" type="file" id="banner_img[0]" />
                                </span>
                            </div>
                        </div>
                        <div ng-repeat="image in images[0] track by $index" class="col-md-4 another-img-upload img-upload-current">
                            <i ng-click="images[0].splice($index, 1)" ng-if="images[0][$index].url || images[0][$index].Img" class="remove-img-btn fas fa-times"></i>
                            <img ng-show="images[0][$index].url" class="img" ng-src="{{images[0][$index].url}}" />
                            <img ng-show="images[0][$index].Img" class="img" ng-src="{{images[0][$index].Img}}" />
                        </div>
                        <div ng-show="images[0].length < 6" class="col-md-4 another-img-upload img-upload-current">
                            <div class="btn-upload">
                                <span class="btn-file">
                                    <p> <i class="fas fa-plus"></i></p>
                                    <p translate>host_addanother</p>
                                    <input type="file" accept="image/*" multiple image="images[0]" length-file="6" upload-img="uploadImg"
                                           resize-max-height="300"
                                           resize-max-width="250"
                                           resize-quality="0.7" />
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <button translate type="button" id="linkButton" ng-disabled="isDisabled"  ng-click="saveHostManage()" class="manager-describe-btn" style="margin-top: 25px;float:right;    margin-bottom: 170px;">host_save</button>
                    </div>
                </div>
            </div>

        </div>
        </div>
  <script type="text/javascript">
  $(document).ready(function() {
toastr.options = {
  "closeButton": false,
  "debug": false,
  "newestOnTop": true,
  "progressBar": false,
  "positionClass": "toast-bottom-full-width",
  "preventDuplicates": false,
  "onclick": null,
  "showDuration": "300",
  "hideDuration": "1000",
  "timeOut": "3000",
  "extendedTimeOut": "1000",
  "showEasing": "swing",
  "hideEasing": "linear",
  "showMethod": "fadeIn",
  "hideMethod": "fadeOut"
}
    
    $('#linkButton').click(function() {
       toastr.info('Save success');
    });
  });
  </script>
