<div style="background: #F8F8F8">
<div class="container" style="clear: both;min-height: 620px;padding-top: 60px;" ng-init="loadStepFinish()">
    <div class="row step-finish">
        
        <div class="col-md-8 col-md-offset-2">
            <img src="{{banner_img.url}}" class="img-step-finish" ng-show="banner_img.url != null"/>
            <p style="margin-top: 51px;">Congratulation, your apartment uploading is finish. It will be appear soon.</p>
            <div class="footer-step">
                <a ui-sref="host.listing" ng-click="resetData()" class="float-right btn-next">Home</a>
                <a ui-sref="host.create.step11" ng-click="resetData()" class="float-right btn-cancel">Create new</a>
            </div>
        </div>
    </div>
</div>
</div>