<div class="main-body-listing" ng-init="loadListing()">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-offset-md-1 body-listing-dashboard">
                <ul class="tabs">
                    <li class="tab-link current" data-tab="tab-1" translate="">all</li>
                    <li class="tab-link" data-tab="tab-2" translate="">listed</li>
                </ul>
                <div class="btn-create-listing">
                    <a ui-sref="host.create.step11" translate="">create_new</a>
                </div>
                <div id="tab-1" class="tab-content current">
                    <div class="listing-all-apartment">
                        <div class="apartment-in-listing row" ng-repeat="apartment in AllListing"  ng-click="pageChanged(apartment)" >
                            <a class="img-apartment col-md-4"><img ng-src="{{apartment.ImgList[0].Img}}" /></a>
                            <div class="summary-apartment col-md-8">
                                <div class="description-apartment">
                                    <a class="apartment-code">{{apartment.Code}}</a>
                                    <a class="apartment-name">{{apartment.Name}}</a>
                                </div>
                                <div class="facilities-apartment">
                                    <p class="apartment-facility">{{"bedrooms" | translate}}: {{apartment.NoBedRoom}}</p>
                                    <p>{{apartment.City}}</p>
                                </div>
                                <div class="process-aparment">
                                    <div class="c100 p100 small">
                                        <span>100%</span>
                                        <div class="slice">
                                            <div class="bar"></div>
                                            <div class="fill"></div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        
                    </div>
                </div>
                <div id="tab-2" class="tab-content">
                    <div class="listing-all-apartment">
                        <div class="apartment-in-listing row" ng-repeat="apartment in ListedListing" ng-click="pageChanged(apartment)">
                            <a class="img-apartment col-md-4"><img ng-src="{{apartment.ImgList[0].Img}}" /></a>
                            <div class="summary-apartment col-md-8">
                                <div class="description-apartment">
                                    <a class="apartment-code">{{apartment.Code}}</a>
                                    <a class="apartment-name">{{apartment.Name}}</a>
                                </div>
                                <div class="facilities-apartment">
                                    <p class="apartment-facility">{{"bedrooms" | translate}}: {{apartment.NoBedRoom}}</p>
                                    <p>{{apartment.City}}</p>
                                </div>
                                <div class="process-aparment">
                                    <div class="c100 p100 small">
                                        <span>100%</span>
                                        <div class="slice">
                                            <div class="bar"></div>
                                            <div class="fill"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){

        $('ul.tabs li').click(function(){
            var tab_id = $(this).attr('data-tab');

            $('ul.tabs li').removeClass('current');
            $('.tab-content').removeClass('current');

            $(this).addClass('current');
            $("#"+tab_id).addClass('current');
        })

    })
</script>