
<div class="col-md-10 body-manager">
    <div style="margin-bottom: 25px;" class="text-manager-describe manager-describe">
        <span>Name</span>
        <input type="text" name="name" ng-disabled="isDisabled" ng-model="apartmentchoice.Name" />
    </div>
<span style="margin-bottom: 20px;">Describe</span>
    <div class="text-manager-describe manager-describe">
        
        <textarea type="text" ng-disabled="isDisabled" ckeditor="editorOptions" id="describe" ng-if="apartmentchoice" ng-model="apartmentchoice.Description"></textarea>
        <textarea type="text" ng-disabled="isDisabled" ckeditor="editorOptions" ng-if="!apartmentchoice" ng-model="description"></textarea>
    </div>

    <button type="button" id="linkButton" ng-disabled="isDisabled" ng-click="saveHostManage()" class="manager-describe-btn">Save</button>
    </div>

      <script type="text/javascript">
  $(document).ready(function() {
toastr.options = {
  "closeButton": false,
  "debug": false,
  "newestOnTop": true,
  "progressBar": false,
  "positionClass": "toast-bottom-full-width",
  "preventDuplicates": false,
  "onclick": null,
  "showDuration": "300",
  "hideDuration": "1000",
  "timeOut": "3000",
  "extendedTimeOut": "1000",
  "showEasing": "swing",
  "hideEasing": "linear",
  "showMethod": "fadeIn",
  "hideMethod": "fadeOut"
}
    
    $('#linkButton').click(function() {
       toastr.info('Save success');
    });
  });
  </script>
