<div ng-controller="ProjectCtrl" ng-init="loadProject()">
    <div class="pj-header" style="background: url('{{slideImg}}') no-repeat;background-size: cover;">

    </div>

    <div>
        <p class="text-project text-project-1">FEATURE PROJECT</p>
    </div>

    <div class="container padding-top-30 padding-right-37">
        <!--<div class="row safe-fire">-->
            <!--<div class="col-md-3" style="margin-top: 30px" ng-repeat="project in listProjectFeature">-->
                <!--<a style="display: inline-block;" ui-sref="projectdetail({id: project.Id,name: replaceString(project.Content.Name)})"><img ng-src="/Upload/{{project.Img}}" class="img-rounded" /></a>-->
                <!--<a style="display: inline-block;" ui-sref="projectdetail({id: project.Id,name: replaceString(project.Content.Name)})" class="text-project text-project-3">{{project.Name}}</a>-->
            <!--</div>-->
        <!--</div>-->
        <div id="nghia3" class="owl-carousel owl-theme">
            <div class="item"  ng-repeat="project in listProjectFeature">
                <div class="project-item ">
                    <a style="display: block;" ui-sref="projectdetail({id: project.Id,name: replaceString(project.Content.Name)})"><img ng-src="/Upload/{{project.Img}}" class="img-rounded" /></a>
                    <a style="display: block;" ui-sref="projectdetail({id: project.Id,name: replaceString(project.Content.Name)})" class="text-project text-project-3">{{project.Name}}</a>
                </div>
            </div>
        </div>
    </div>

    <div>
        <p class="text-project text-project-1">ON-AIR PROJECT</p>
    </div>

    <div class="container padding-top-60 ">

        <div class="row">
            <div id="nghia2" class="owl-carousel owl-theme">
                <div class="item"  ng-repeat="project in listProject">
                    <div class="project-box-above ">
                        <a ng-if="project.Logo" style="display: inline-block;" ui-sref="projectdetail({id: project.Id,name: replaceString(project.Content.Name)})"><img style="width: 147px;height: 70px;" ng-src="/Upload/{{project.Logo}}" class="img-rounded" /></a>
                        <a ng-if="!project.Logo" style="display: inline-block;" ui-sref="projectdetail({id: project.Id,name: replaceString(project.Content.Name)})"><img style="width: 147px;height: 70px;" ng-src="/Images/logo.svg" class="img-rounded" /></a>
                    </div>
                    <div class="project-item">
                        <a style="display: inline-block;width: 100%;height: 327px" ui-sref="projectdetail({id: project.Id,name: replaceString(project.Content.Name)})"><img ng-src="/Upload/{{project.Img}}" class="img-rounded" /></a>
                        <a class="button-left button-box text-project text-project-5 " ui-sref="projectdetail({id: project.Id,name: replaceString(project.Content.Name)})">Explore</a>
                        <button class="button-right button-box text-project text-project-5">See list</button>
                    </div>
                    <p class="text-project text-project-4 text-project-left">{{project.Content.Name}}</p>
                    <p class="text-project text-project-4 text-project-right">{{listIdProject[project.Id]}} properties available</p>
                </div>
            </div>
        </div>
    </div>

    <div>
        <p class="text-project text-project-1">UP-COMING PROJECT</p>
    </div>

    <div class="container padding-top-60 safe-fire1 ">
        
        <div id="nghia" class="owl-carousel owl-theme">
            <div class="project-item-below  ">
                <img src="https://www.tmb.cat/documents/20182/148738/baner-EH/0985e8f5-9fc1-446e-b308-da918de2e489?t=1531907037000"alt="#" class="img-rounded" />
            </div>
            <div class="project-item-below  ">
                <img src="http://hotellacasadelsol.y66kjun72isdzyjss4l39vf.netdna-cdn.com/wp-content/uploads/2018/01/barcelona-cultura-historia.jpg" alt="#" class="img-rounded" />
            </div>
            <div class="project-item-below  ">
                <img src="https://www.hotelartsbarcelona.com/app/uploads/2017/06/infinity-pool-hotel-arts-barcelona-1800x840.jpg" alt="#" class="img-rounded" />
            </div>
            
        </div>

        </div>



    <script>

    </script>
   
    

     
</div>
    

