<div ng-init="loadUserGeneral()">
        <div class="col-md-7 body-user">
            <div class="card visiting-list">
                <div class="card-header">
                    Your visiting list
                </div>
                <div class="card-body">
                    <div class="row product" ng-repeat="item in visitList">
                        <a ui-sref="apartmentdetail({id: item.Apartment.Id,name: replaceString(item.Apartment.Name)})" class="product-img col-xs-4">
                            <img style="width: 100%; height: 100%;" ng-src="{{item.Apartment.ImgList[0].Img}}" alt="Alternate Text" />
                        </a>
                        <div class="product-description col-xs-5">
                            <a ui-sref="apartmentdetail({id: item.Apartment.Id,name: replaceString(item.Apartment.Name)})" class="product-code">{{item.Apartment.Code}}</a>
                            <a ui-sref="apartmentdetail({id: item.Apartment.Id,name: replaceString(item.Apartment.Name)})" class="product-name">{{item.Apartment.Name}}</a>
                            <div class="product-left-side">
                                <p class="product-facility">Bedrooms: {{item.Apartment.NoBedRoom}}</p>
                                <p>{{item.Apartment.City}}</p>
                            </div>
                            <div class="product-right-side">
                                <p>Estimate price:</p>
                                <p class="product-price">$ <span>{{item.TotalPrice}}</span></p>
                            </div>
                        </div>
                        <a href="#" class="product-delete col-xs-1" ng-click="deleteApartmentVisit(item.Id)">
                            <div class="icon-delete">
                                <i class="far fa-trash-alt"></i>
                            </div>
                        </a>
                    </div>
                </div>
                
            </div>
            <div class="card apartment-list">
                <div class="card-header">
                    Your apartment
                </div>
                <div class="card-body">
                    {{item | json}}
                    <div class="row product" ng-repeat="item in yourApartmentList">
                        <a ui-sref="apartmentdetail({id:item.Id})" target="_blank" class="product-img col-xs-4">
                            <img style="width:100%;height:100%;" ng-src="{{item.ImgList[0].Img}}" alt="Alternate Text" />
                        </a>
                        <div class="product-description col-xs-5">
                            <a ui-sref="apartmentdetail({id:item.Id})" target="_blank" class="product-code">{{item.Code}}</a>
                            <a ui-sref="apartmentdetail({id:item.Id})" target="_blank" class="product-name">{{item.Name}}</a>
                            <!-- <div class="product-left-side">
                                <p class="expired">Expired:</p>
                            </div>
                            <div class="product-right-side">
                                <p class="expired-value">25/09/2019</p>
                            </div> -->
                            <div class="product-left-side">
                                <p class="apartment-facility">Bedrooms: 3</p>
                                <p class="">Hà Nội</p>
                            </div>
                        </div>

                        <!-- <div class="product-action">
                            <a href="#"><i class="fas fa-th-list"></i></a>
                            <a href="#"><i class="fas fa-search"></i></a>
                            <a href="#"><i class="fas fa-bell"></i></a>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 right-side-bar">
            <div class="card visiting-schedule">
                <div class="card-header">
                    Visting schedule
                </div>
                <div class="card-body">
                    <div class="card-menu">
                        <div class="schedule">
                            <div class="visiting-schedule-title float-left">1 visiting schedlue</div>
                            <div class="visiting-schedule-icon float-right">
                                <a href=""><i class="fas fa-eye"></i></a>
                                <a href=""><i class="fas fa-sign-in-alt"></i></a>
                            </div>
                        </div>
                        <div class="schedule">
                            <div class="visiting-schedule-title float-left">1 visiting schedlue</div>
                            <div class="visiting-schedule-icon float-right">
                                <a href=""><i class="fas fa-eye"></i></a>
                                <a href=""><i class="far fa-clock"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card visiting-history">
                <div class="card-header">
                    Visting history
                </div>
                <div class="card-body">
                    <div class="card-menu">
                        <div class="history">
                            <div class="visiting-history-title float-left">
                                <div class="time">Thurday Aug 16 th 2018</div>
                                <div class="count-visited">You visited 4 apartment</div>
                            </div>
                            <div class="visiting-history-icon float-right">
                                <a href=""><i class="fas fa-eye"></i></a>
                            </div>
                        </div>
                        <div class="history">
                            <div class="visiting-history-title float-left">
                                <div class="time">Thurday Aug 16 th 2018</div>
                                <div class="count-visited">You visited 4 apartment</div>
                            </div>
                            <div class="visiting-history-icon float-right">
                                <a href=""><i class="fas fa-eye"></i></a>
                            </div>
                        </div>
                        <div class="history">
                            <div class="visiting-history-title float-left">
                                <div class="time">Thurday Aug 16 th 2018</div>
                                <div class="count-visited">You visited 4 apartment</div>
                            </div>
                            <div class="visiting-history-icon float-right">
                                <a href=""><i class="fas fa-eye"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  