<form ng-submit="submitEditProfile()" class="col-md-9 body-user body-user-edit" ng-init="loadUserEdit()">
    <div class="col-xs-12 public-infomation">
        <div class="row">
            <div class="col-md-3 infomation-title">
                Public infomation
            </div>
            <div class="col-xs-12 user-form-group">
                <div class="col-md-3 label-user-form">
                    <label>Full name:</label>
                </div>
                <div class="col-md-8 input-group-text">
                    <input class="" type="text" name="firstName" ng-model="data.FullName" placeholder="Wick" />
                </div>
            </div>
            <div class="col-xs-12 user-form-group">
                <div class="col-md-3 label-user-form">
                    <label>Profile photo:</label>
                </div>
                <div class="col-xs-8 input-group-text">
                    <!-- <input type="hidden" name="avatar-user" ng-model="data.Avatar_Base64" value="" />
                    <div class="profile-photo-input">
                        <div class="img-profile-photo">
                            <img ng-if="data.Avatar_Base64 == null" ng-src="{{data.Avatar}}" alt="Alternate Text" />
                            <img ng-if="data.Avatar_Base64 != null" ng-src="{{data.Avatar_Base64}}" id="Avatar_Base64" alt="Alternate Text"/>
                        </div>
                        <div class="note-profile-photo">
                            <p>Clear frontal face photos are an important way for hosts and guests to learn about each other. Be sure to use a photo that clearly shows your face and doesn’t include any personal or sensitive info you’d rather not have landlord or tenant see.</p>
                            <div class="btn-upload">
                                <span class="btn-file">
                                    Upload a file from your device
                                    <input type="file" accept="image/*" upload-type="'string'" image="data.Avatar_Base64"
                                   resize-max-height="300"
                                   resize-max-width="250"
                                   resize-quality="0.7" />
                                </span>
                            </div>
                        </div>
                    </div> -->
                    <div class="profile-photo-input">
                        <div class="cropArea" style="width: 480px; height: 480px; display: none">
                            <img-crop images="myImage" area-min-size="480" result-image-size="480" result-image="data.Avatar_Base64" area-type="square" result-image-format="image/jpeg"></img-crop>
                        </div>
                        <div class="img-profile-photo">
                            <img ng-if="data.Avatar_Base64 == null" src="/Upload/avatar/noavatar.jpg" alt="Alternate Text" />
                            <img ng-if="data.Avatar_Base64 != null" ng-src="{{data.Avatar_Base64}}" id="Avatar_Base64" src="Images/img-demo.png" alt="Alternate Text"/>
                        </div>
                        <div class="note-profile-photo">
                            <p>Clear frontal face photos are an important way for hosts and guests to learn about each other. Be sure to use a photo that clearly shows your face and doesn’t include any personal or sensitive info you’d rather not have landlord or tenant see.</p>
                            <div class="btn-upload">
                                <span class="btn-file">
                                    Upload a file from your device
                                    <input id="testFile" type="file" accept="image/png, image/jpeg, image/gif"/>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 private-infomation">
        <div class="row">
            <div class="col-md-3 infomation-title">
                Private infomation
            </div>
            <div class="col-xs-12 notify-infomation">
                We won't never share your private information with another Property Plus users.
            </div>
            <div class="col-xs-12 user-form-group">
                <div class="col-md-3 label-user-form">
                    <label>I am :</label>
                </div>
                <div class="col-xs-8">
                    <select class="select-gender" ng-model="date.gender"  ng-options="option.name for option in genders">
                        
                    </select>
                </div>
            </div>
            <div class="col-xs-12 user-form-group">
                <div class="col-md-3 label-user-form">
                    <label>Birth date :</label>
                </div>
                <div class="col-xs-8">
                    <select class="select-month" ng-options="option.name for option in months" ng-model="date.month">
                    </select>
                    <select class="select-day"  ng-options="option.name for option in days" ng-model="date.day">
                        
                    </select>
                    <select class="select-year"  ng-options="option.name for option in years"  ng-model="date.year"></select>
                </div>
            </div>
            <div class="col-xs-12 user-form-group">
                <div class="col-md-3 label-user-form">
                    <label>Email Adress:</label>
                </div>
                <div class="col-xs-8 input-group-text">
                    <input type="email" name="email" ng-model="data.Email" placeholder="bogeyman@continental.com" readonly />
                </div>
            </div>
            <div class="col-xs-12 user-form-group">
                <div class="col-md-3 label-user-form">
                    <label>Phone number:</label>
                </div>
                <div class="col-xs-8 input-group-text">
                    <input type="text" name="phoneNumber" ng-model="data.Phone" placeholder="0984123456" />
                </div>
            </div>
            <div class="col-xs-12 user-form-group">
                <div class="col-md-3 label-user-form">
                    <label>Verification:</label>
                </div>
                <div class="col-xs-8 upload-file-box">
                    <p>
                        You'll need to provide indentification when you make a renting contract, so
                        get a head by start by doing it now.
                    </p>
                    <div class="input-group-upload">
                        <div class="outside-name-file">
                            <i id="delete-file1" ng-click="data.ImgVerification1_Base64 = null;data.ImgVerification1=null" class="fas fa-times-circle"></i>
                            <input type="text" id="name-file1" ng-model="data.ImgVerification1" name="name-img1" value="" placeholder="Upload your indentity document" readonly/>
                        </div>
                        <div class="btn-upload">
                            <span class="btn-file">
                                Upload
                                <input id="file1" type="file" accept="image/*" image="data.ImgVerification1_Base64"
                                   resize-max-height="300"
                                   resize-max-width="250"
                                   resize-quality="0.7" />
                            </span>
                        </div>

                    </div>
                    <div class="input-group-upload">
                        <div class="outside-name-file">
                            <input type="text" id="name-file2" ng-model="data.ImgVerification2" name="name-img2" value="" placeholder="Upload your indentity document" readonly/>
                            <i id="delete-file2" ng-click="data.ImgVerification2_Base64 = null;data.ImgVerification2=null" class="fas fa-times-circle"></i>
                        </div>
                        <div class="btn-upload">
                            <span class="btn-file">
                                Upload
                                <input id="file2" type="file" accept="image/*" image="data.ImgVerification2_Base64"
                                   resize-max-height="300"
                                   resize-max-width="250"
                                   resize-quality="0.7" />
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 optinal-infomation">
        <div class="row">
            <div class="col-md-3 infomation-title">
                Option infomation
            </div>
            <div class="col-xs-12 user-form-group">
                <div class="col-md-3 label-user-form">
                    <label>Company:</label>
                </div>
                <div class="col-md-8 input-group-text">
                    <input class="" type="text" name="work" ng-model="data.Work" placeholder="Company name or job title" />
                </div>
            </div>
            <div class="col-xs-12 user-form-group">
                <div class="col-md-3 label-user-form">
                    <label>Company Address:</label>
                </div>
                <div class="col-md-8 input-group-text">
                    <input class="" type="text" name="contact" ng-model="data.Contact" placeholder="Company Address" />
                </div>
            </div>
            <div class="col-md-8 col-md-offset-3 notify-infomation">
                Give our Customer Service team a trusted contact we can alert in an urgent situation.
            </div>
            <div class="col-xs-12 user-form-group">
                <div class="col-md-3 label-user-form">
                    <label>Describe Yourself :</label>
                </div>
                <div class="col-md-8 input-group-text">
                    <textarea name="describe" ng-model="data.Description"></textarea>
                </div>
            </div>
            <div class="col-xs-12 user-form-group">
                <div class="col-md-8 col-md-offset-3">
                    <button type="submit" class="btn-save-edit-user">Save</button>
                </div>

            </div>
        </div>
    </div>
</form>
<script>
    $(document).ready(function () {
        var content = '';
        var time = new Date();
        var year = time.getFullYear();
        var text;
        

        $('#file1').change(function () {
            var filename = $('#file1').val().replace(/C:\\fakepath\\/i, '');
            $('#name-file1').val(filename);
            $('#delete-file1').addClass('active');
        });

        $('#file2').change(function () {
            var filename = $('#file2').val().replace(/C:\\fakepath\\/i, '');
            $('#name-file2').val(filename);
            $('#delete-file2').addClass('active');
        });

        $('#delete-file1').click(function () {
            $('#name-file1').val('');
            $('#delete-file1').removeClass('active');
        });

        $('#delete-file2').click(function () {
            $('#name-file2').val('');
            $('#delete-file2').removeClass('active');
        });
    });
</script>
