.technology-text{
	font-size: 30px;
	color: #444444 !important;
}
.box-technology{
	border: 1px solid #707070;
	width: 100%;
	height: 345.66px;
	background: #A5A4A4;
}

.sml-text{
	font-size: 28px;
	line-height:1.5;
	text-align: justify;
}

.service-box{
	border: 0px solid transparent;
	width: 100%;
	height: 310px;
	background: #707070;
}

.service-text-top-left{
	padding-top: 50px;
	padding-left: 80px;
}

.service-text-bottom-right{
	padding-top: 110px;
    padding-left: 630px;
}

.service-text-22{
	font-size: 20px;
	color: #444 !important;
	line-height: 2;
    display: block;
    text-align: justify;

}

.service-circle{
	 width: 151px;
    height: 151px;
    background: #FFFFFF;
    
    margin-bottom:20px;
}


.service-text-26{
font-size: 26px;
color: #444 !important;
}

.service-text-20{
	font-size: 18px;
    color: #444 !important;
    line-height: 2;
    display: block;
    text-align: justify;
}

.service-text-top-left-1{
	padding-top: 50px;
	display: block;
    float: right;
    margin-right: 140px;
}

.service-text-bottom-right-1{
	padding-top: 225px;
    padding-left: 30px;
}



.content-aboutus {
    background-color: white;
    padding-bottom: 30px;
}

    .content-aboutus ul.tabs {
        margin: 0px;
        padding: 0px;
        list-style: none;
        display: flex;
        margin-bottom: 60px;
    }

        .content-aboutus ul.tabs li {
            text-align: center;
		    color: #707070;
		    display: inline-block;
		    padding: 22px 0;
		    cursor: pointer;
		    width: 33.33%;
		    margin: 0;
		    height: 80px;
		    font-size: 22px;
        }

        .content-aboutus ul.tabs li:hover {
            border-bottom: 6px solid #474676;
                color: #707070;
                position: relative;
    z-index: 9999;
        }

   .content-aboutus ul.tabs li.current {
                border-bottom: 6px solid #474676;
                color: #707070;
                position: relative;
    z-index: 9999;
            }

.content-aboutus .tab-content {
    display: none;
    background: white;
    padding: 24px 0px;
}

.content-aboutus .tab-content.current {
    display: inherit;
    overflow: hidden;
}

.line-aboutus{
	border-top: 2px solid #707070;
	width: 100%;
	position: absolute;
    top: 499px;
    z-index: 1;
}

.ab-text-20{
	font-size: 16px;
    color: #444 !important;
    line-height: 2.5;
    white-space: nowrap;
}

.ab-text-21{
	font-size: 20px;
    color: #444 !important;
    line-height: 2.5;
    white-space: nowrap;
    text-transform: uppercase;
}

.ab-text-20-1{
	font-size: 16px;
    color: #444 !important;
    line-height: 2.5;
    white-space: normal;
    display: block;
    text-align: justify;
}

.line-aboutus-1{
	border-top: 2px solid #707070;
	width: 100%;
	margin-bottom: 30px;
}


.fix-menu{
	position: fixed;
	 width: 100%;
    top: 0px;
}



.black-box{
	width: 100%;
	height: 100%;
	margin-bottom: 35px;
}

.ab-text-28{
	font-size: 26px;
    color: #444 !important;
    line-height: 2.5;
}

.aboutus-img{
	width: 825px;
    height: 583px;
    margin-left: 155px;
    margin-bottom: 40px;
}

.box-tab{
	background: #D2D2D2;
	height: 560px;
	width: 100%;
    z-index: 1;
	
}

.box-second{
	border: 1px solid #707070;
	background: #FFFFFF;
	width: 421px;
	height: 290px;
	border-radius: 10px;
	margin-top: 140px;
	z-index: 2;
}

.circle-second{
	width: 212px;
    height: 212px;
    background: #FFFFFF;
    border-radius: 106px;
    border: 1px solid #707070;
    position: absolute;
    margin-top: 25px;
     margin-left: 100px;
}

.text-box-second{
	font-size: 24px; 
	 padding-top: 125px;
    text-align: center;
}

.ab-staff{
	font-size: 30px;
    margin-top: 40px;
    display: block;
    text-align: center;
}

.black-bg {
    background-color: #465983;
    color: #fff;
    min-height: 155px;
    display: block;
    padding: 15px 0;
    margin-top: 25px;
    font-weight: normal;
    width: 100%;
    margin-bottom: 200px;
}

.black-bg p{
	margin: 20px 0;
	color: #fff;
	text-align: center;
}

.help-text{
	font-size: 15px;
}

.help-text-1{
	font-size: 30px;
}

.he-text-26{
	font-size: 24px;
	font-weight: 400;
	margin-left: 30px;
}

.ab-text-28-1{
	font-size: 28px;
    color: #444 !important;
    line-height: 2.5;
}

.box-img{
	border: 0px solid transparent;
	background: #A5A4A4;
	width: 100%;
	height: 600px;
}

.box-img-1{
/*width: 100%;
	height: 600px;*/
	width: 100%;
    height: auto;
    border-radius: 10px;
}

.mini-img{
border: 0px solid transparent;
	background: #A5A4A4;
	width: 300px;
	height: 150px;
	margin-left: 40px;
}

.medium-img{
	border: 0px solid transparent;
	background: #A5A4A4;
	width: 700px;
	height: 350px;
	margin-left: 40px;
	margin-bottom: 100px;
}

.large-img{
	border: 0px solid transparent;
	background: #A5A4A4;
	width: 100%;
	height: 450px;
	margin-left: 40px;
}

.box-img-5{
	width: 100%;
	height: 450px;
}

.box-img-2{
	width: 300px;
	height: 150px;
}

.box-img-3{
	width: 700px;
	height: 350px;
}

.box-img-4{
border: 0px solid transparent;
    background: #A5A4A4;
    width: 100%;
    height: 600px;
    margin-left: 40px;
}

.box-img-small{
	margin-left: 335px;
	width: 450px;
    height: 600px;
}

.car-btn{
	border: 1px solid transparent;
	width: 180px;
	height: 49px;
	background: #464878;
	color: #FFFFFF !important;
	font-size: 16px;
	display: block;
	text-align: center;
	margin-left: 480px;
    padding-top: 13px;
    border-radius: 5px;
}

.cr-circle{
border: 1px solid #707070;
width: 81px;
	height: 81px;
	background: #FFFFFF;
	border-radius: 40px;
	margin-bottom: 20px;
	margin-top:70px;
}

.cr-text-16{
	font-size: 16px;
    color: #444 !important;
    line-height: 1.5;
    white-space: normal;
    display: block;
    text-align: justify;
}

.cr-text-14{
	font-size: 14px;
    color: #444 !important;
    line-height: 2;
    white-space: normal;
    display: block;
    text-align: justify;
}


.content-career {
    background-color: white;
    padding-bottom: 30px;
}

    .content-career ul.tabs {
        margin: 0px;
        padding: 0px;
        list-style: none;
        display: flex;
        margin-bottom: 60px;
    }

        .content-career ul.tabs li {
		    color: #707070;
		    display: inline-block;
		    padding: 22px 0;
		    cursor: pointer;
		    width: 15.33%;
		    margin: 0;
		    font-size: 14px;
        }

        .content-career ul.tabs li:hover {
            border-bottom: 6px solid #474676;
                color: #707070;
                position: relative;
    z-index: 9999;
        }

   .content-career ul.tabs li.current {
                border-bottom: 6px solid #474676;
                color: #707070;
                position: relative;
    z-index: 9999;
            }

.content-career .tab-content {
    display: none;
    background: white;
    padding: 24px 0px;
}

.content-career .tab-content.current {
    display: inherit;
    overflow: hidden;
}


.apply-btn{
	border: 1px solid #473D6F;
	background: #473D6F;
	width: 134px;
	height: 47px;
	color: #FFFFFF;
	text-align: center;
	float: right;
	    padding-top: 10px;
    border-radius: 5px;
    margin-top: 10px;
}

.apply-btn:hover{
	color: #FFFFFF;
}

.grey-line{
	border-top: 1px solid #707070;
	width: 100%;
	margin-bottom: 50px;
}

.box-career{
	border: 1px solid #707070;
	background: #fff;
	width: 908px;
	height: 903px;
	margin-bottom: 100px;


}

.input-career{
	border: 1px solid #707070;
	background: #fff;
	width: 100%;
	height: 54px;
	border-radius: 5px;
	margin-bottom: 20px;
}

.file-career{
	border: 1px dashed #707070;
    width: 100%;
    height: 129px;
    border-radius: 5px;
    margin-top: 50px;
    cursor: pointer;
}

.file-career input[type=file] {
    display: none;
}

.apply-btn-1{
	border: 1px solid #473D6F;
	background: #473D6F;
	width: 100%;
	height:70px;
	color: #FFFFFF;
	text-align: center;
	    padding-top: 25px;
    border-radius: 5px;
    margin-top: 75px;
    display: block;
}

.apply-btn-1:hover{
	color: #FFFFFF;
}


.step-line {
    position: relative;
    display: block;
    height: 200px;
    text-align: center;
}


.step-line span {
    display: inline-block;
    width: 350px;
    height: 5px;
    margin-top: 95px;
    border-bottom: 2px dashed #B4B4B4;
    }

 .step-line span:before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 50px;
    border-left: 2px dashed #B4B4B4;
    border-bottom: 2px dashed #B4B4B4;
    border-bottom-left-radius: 10px;
    float: left;
    margin-top: -45px;
    margin-left: -25px;
}


.step-line span:after {
    content: "";
    display: inline-block;
    width: 25px;
    height: 50px;
    border-right: 2px dashed #B4B4B4;
    border-top: 2px dashed #B4B4B4;
    border-top-right-radius: 10px;
    float: right;
    margin-top: 2px;
    margin-right: -20px;
}


.step-line.inverse span:before {
    border-width: 0;
    border-left: 2px dashed #B4B4B4;
    border-top: 2px dashed #B4B4B4;
    border-radius: 0;
    border-top-left-radius: 10px;
    float: left;
    margin-top: 2px;
    margin-left: -20px;
}

.step-line.inverse span:after {
    border-width: 0;
    border-right: 2px dashed #B4B4B4;
    border-bottom: 2px dashed #B4B4B4;
    border-radius: 0;
    border-bottom-right-radius: 10px;
    float: right;
    margin-top: -45px;
    margin-right: -25px;
}

#help div[class*="col-"] {
    position: relative;
    float: left;
    box-sizing: border-box;
    padding-right: 12px;
    padding-left: 12px;
    min-height: 1px;
}

#help div[data-step].align-left {
    padding-left: 88px;
    position: relative;
}

#help div[data-step].align-left:before {
    left: 24px;
}

#help div[data-step]:before {
    content: attr(data-step);
    position: absolute;
    background: #465983;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    font-size: 20px;
    line-height: 32px;
}

#help h3 {
    margin-top: 24px;
    margin-bottom: 8px;
    letter-spacing: 0.5px;
    font-size: 20px;
    line-height: 28px;
}

.p-class p {
    margin-top: 0;
    margin-bottom: 16px;
    letter-spacing: 0.3px;
    font-size: 16px;
    line-height: 1.8;
}

#help .clearfix:after, .row:after {
    clear: both;
}

#help .clearfix:before, .clearfix:after, .row:before, .row:after {
    display: table;
    content: " ";
}

#help div[data-step].align-right {
    padding-right: 88px;
    position: relative;
}

#help div[data-step].align-right:before {
    right: 24px;
}

.ab-text-20sm{
    font-size: 15px;
    color: #444 !important;
    line-height: 2.5;
    text-transform: uppercase;
}

.crdetail-text{
font-size: 18px;
color: #43425D !important;
line-height: 3;
}

.crdetail-text1{
font-size: 14px;
color: #43425D !important;
line-height: 2;
}